<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoes101.mapper.ShoesMapper" >
  <resultMap id="BaseResultMap" type="com.shoes101.pojo.Shoes" >
    <id column="shoesid" property="shoesid" jdbcType="INTEGER" />
    <result column="shoesname" property="shoesname" jdbcType="VARCHAR" />
    <result column="catalogid" property="catalogid" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="isdropoff" property="isdropoff" jdbcType="VARCHAR" />
    <result column="adddate" property="adddate" jdbcType="VARCHAR" />
    <result column="shoesdetails" property="shoesdetails" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shoes
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert"  useGeneratedKeys="true"  parameterType="com.shoes101.pojo.Shoes" >
    <selectKey resultType="java.lang.Integer"  keyProperty="shoesid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoes (shoesname, catalogid, sales, 
      isdropoff, adddate, shoesdetails,label
      )
    values (#{shoesname,jdbcType=VARCHAR}, #{catalogid,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, 
      #{isdropoff,jdbcType=VARCHAR}, #{adddate,jdbcType=VARCHAR}, #{shoesdetails,jdbcType=VARCHAR},#{label,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shoes101.pojo.Shoes" >
    update shoes
    set shoesname = #{shoesname,jdbcType=VARCHAR},
      catalogid = #{catalogid,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      isdropoff = #{isdropoff,jdbcType=VARCHAR},
      adddate = #{adddate,jdbcType=VARCHAR},
      shoesdetails = #{shoesdetails,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select shoesid, shoesname, catalogid, sales, isdropoff, adddate, shoesdetails, label
    from shoes
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select shoesid, shoesname, catalogid, sales, isdropoff, adddate, shoesdetails, label
    from shoes
  </select>

  <select id="getAllShoes" resultType="Map">
    select shoes.shoesid,shoes.shoesname,shoes.isdropoff,shoes.adddate,shoespic.picaddress,shoessku.quantity from shoes,shoespic,shoessku
  </select>

  <!--10.4作出第一次修改 -->
  <select id="getAllShoesIdAndNameAndPrice" resultType="com.shoes101.vo.FGoodsVo">
     select DISTINCT shoes.shoesid,shoes.shoesname,shoessku.price
     from shoes
     INNER JOIN shoessku
      on shoes.shoesid=shoessku.shoesid
      where shoessku.quantity > 0
  </select>

  <select id="getDetails" resultType="com.shoes101.vo.FDetailsVo">
    select DISTINCT shoes.shoesid,shoes.shoesname,shoessku.price,shoessku.quantity,shoessku.ticketprice,shoes.label
    from shoes
    INNER JOIN shoessku
    on shoes.shoesid=shoessku.shoesid
    where shoes.shoesid=#{shoesid} limit 1
  </select>

  <select id="getAllPicById" resultType="java.lang.String">
    select picaddress from shoespic where shoesid=#{shoesid}
  </select>

  <select id="getSku" resultType="java.lang.Integer">
    select skuid from shoessku where shoesid=#{shoesid}
  </select>

  <select id="getPidById" resultType="com.shoes101.pojo.Splink">
    select * from splink where shoesid=#{shoesid}
  </select>

  <select id="getTheSkuid" resultType="Integer">
    select skuid from shoessku where shoesid=#{shoesid} and skuproperty like ${str} limit 1
  </select>

  <select id="getColorPicForDetail" resultType="java.lang.String">
    select colorpicaddredd from colorpic where skuid=#{skuid}
  </select>

  <select id="getQty" resultType="java.lang.Integer">
    select quantity from shoessku where shoesid=#{shoesid} and skuproperty like ${str}
  </select>

  <select id="getQty2" resultType="com.shoes101.vo.SkuIdAndQtyVo">
    select skuid,quantity from shoessku where shoesid=#{shoesid} and skuproperty like ${str}
  </select>

  <select id="getShoesDetail" resultType="java.lang.String">
    select shoesdetails from shoes where shoesid=#{shoesid}
  </select>

  <select id="getAllPic" resultType="java.lang.String">
    select picaddress from shoespic where shoesid=#{shoesid}
  </select>

  <select id="getShoesCatalog" resultType="java.lang.Integer">
    select catalogid from shoes where shoesid=#{shoesid}
  </select>

  <select id="getCatalognameAndFather" resultType="com.shoes101.vo.CatalognameAndParentVo">
    select catalogname,parentid from shoescatalog where catalogid=#{catalogid}
  </select>

  <select id="calTotalQty" resultType="java.lang.Integer">
    select sum(quantity) from shoessku where shoesid=#{shoesid}
  </select>
</mapper>