<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoes101.mapper.ShoesMapper" >
  <resultMap id="BaseResultMap" type="com.shoes101.pojo.Shoes" >
    <id column="shoesid" property="shoesid" jdbcType="INTEGER" />
    <result column="shoesname" property="shoesname" jdbcType="VARCHAR" />
    <result column="catalogid" property="catalogid" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="isdropoff" property="isdropoff" jdbcType="VARCHAR" />
    <result column="adddate" property="adddate" jdbcType="VARCHAR" />
    <result column="shoesdetails" property="shoesdetails" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shoes
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert"  useGeneratedKeys="true"  parameterType="com.shoes101.pojo.Shoes" >
    <selectKey resultType="java.lang.Integer"  keyProperty="shoesid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shoes (shoesname, catalogid, sales, 
      isdropoff, adddate, shoesdetails,label
      )
    values (#{shoesname,jdbcType=VARCHAR}, #{catalogid,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, 
      #{isdropoff,jdbcType=VARCHAR}, #{adddate,jdbcType=VARCHAR}, #{shoesdetails,jdbcType=VARCHAR},#{label,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shoes101.pojo.Shoes" >
    update shoes
    set shoesname = #{shoesname,jdbcType=VARCHAR},
      catalogid = #{catalogid,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      isdropoff = #{isdropoff,jdbcType=VARCHAR},
      adddate = #{adddate,jdbcType=VARCHAR},
      shoesdetails = #{shoesdetails,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select shoesid, shoesname, catalogid, sales, isdropoff, adddate, shoesdetails, label
    from shoes
    where shoesid = #{shoesid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select shoesid, shoesname, catalogid, sales, isdropoff, adddate, shoesdetails, label
    from shoes
  </select>

  <select id="getAllShoes" resultType="Map">
    select shoes.shoesid,shoes.shoesname,shoes.isdropoff,shoes.adddate,shoespic.picaddress,shoessku.quantity from shoes,shoespic,shoessku
  </select>
</mapper>