<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoes101.mapper.ShopcartMapper" >
  <resultMap id="BaseResultMap" type="com.shoes101.pojo.Shopcart" >
    <id column="scid" property="scid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="sctotalprice" property="sctotalprice" jdbcType="DOUBLE" />
    <result column="scticketprice" property="scticketprice" jdbcType="DOUBLE" />

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopcart
    where scid = #{scid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shoes101.pojo.Shopcart" >
    <selectKey resultType="java.lang.Integer" keyProperty="scid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shopcart (userid, sctotalprice, scticketprice)
    values (#{userid,jdbcType=INTEGER}, #{sctotalprice,jdbcType=DOUBLE}, #{scticketprice,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shoes101.pojo.Shopcart" >
    update shopcart
    set userid = #{userid,jdbcType=INTEGER},
      sctotalprice = #{sctotalprice,jdbcType=DOUBLE},
      scticketprice = #{scticketprice,jdbcType=DOUBLE}
    where scid = #{scid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select scid, userid, sctotalprice, scticketprice
    from shopcart
    where scid = #{scid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select scid, userid, sctotalprice, scticketprice
    from shopcart
  </select>
</mapper>