<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoes101.mapper.UserMapper" >
    <resultMap id="DemoResultMap" type="com.shoes101.pojo.Demo" >
        <id column="did" property="did" jdbcType="INTEGER" />
        <result column="dtext" property="dtext" jdbcType="VARCHAR" />
        <result column="dstate" property="dstate" javaType="VARCHAR"/>
    </resultMap>
    <sql id="Demo_Column_List" >
    did,dtext,dstate
    </sql>

    <insert id="insert" parameterType="com.shoes101.pojo.Demo" >
    insert into demo (did,dtext,state)
    values (#{did,jdbcType=INTEGER}, #{dtext,jdbcType=VARCHAR}, #{dstate,jdbcType=VARCHAR)
    </insert>

    <select id="getUser" resultMap="DemoResultMap">
        select * from demo
    </select>


</mapper>