<!doctype html>
<html class="no-js" lang="">

<head>
	<title>101 Shoes|首页</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico">

	<link rel="stylesheet" href="../static-front/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static-front/font/font-awesome.min.css">
	<link rel="stylesheet" href="../static-front/css/owl.carousel.css">
	<link rel="stylesheet" href="../static-front/css/owl.theme.css">
	<link rel="stylesheet" href="../static-front/css/owl.transitions.css">
	<link rel="stylesheet" href="../static-front/css/jquery-ui.css">
	<link rel="stylesheet" href="../static-front/css/meanmenu.min.css">
	<link rel="stylesheet" href="../static-front/css/nivo-slider.css">
	<link rel="stylesheet" href="../static-front/css/preview.css">
	<link rel="stylesheet" href="../static-front/css/animate.css">
	<link rel="stylesheet" href="../static-front/css/magic.css">
	<link rel="stylesheet" href="../static-front/css/normalize.css">
	<link rel="stylesheet" href="../static-front/css/main.css">
	<link rel="stylesheet" href="../static-front/css/style.css">
	<link rel="stylesheet" href="../static-front/css/responsive.css">

	<script src="../static-front/js/modernizr-2.8.3.min.js"></script>

</head>

<body>
<!--头部信息-->
<div id="the_header"></div>

<!--轮播商品-->
<div class="slider-area home1" align="center">
	<div class="bend niceties preview-2">
		<div id="myCarousel" class="carousel slide" style="height: 522px;">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="#"><img src="../static-front/img/slider-1.jpg" style="height: 520px;"
									 alt="First slide"></a>
				</div>
				<div class="item">
					<a href="#"><img src="../static-front/img/slider-2.jpg" style="height: 520px;"
									 alt="Second slide"></a>
				</div>
				<div class="item">
					<a href="#"><img src="../static-front/img/slider-1.jpg" style="height: 520px;"
									 alt="Third slide"></a>
				</div>
			</div>
			<!-- 轮播（Carousel）导航 -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">
				<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>

<!--热销鞋类-->
<div class="products-area">
	<div class="container">
		<div class="products">
			<div class="row">
				<div class="col-md-12">
					<div class="product-menu">
						<div class="menu-title">
							<h2 style="padding-top: 15px;"><strong>101 Shoes 热销鞋类</strong></h2>
						</div>
						<div class="side-menu">
							<ul class="tab-navigation" role="tablist">
								<li role="presentation" class="active col-md-6" style="float: left">
									<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">男鞋</a>
								</li>
								<li role="presentation" class="col-md-6">
									<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">女鞋</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab1">
								<!-- 使用title标注鞋子的id-->
								<div class="single-product col-md-3" align="center" title="1">
									<input type="hidden" name="shoesId" value="1"/>
									<div class="level-pro-new">
										<span>热销</span>
									</div>
									<div class="product-img">
										<a href="javascript:;">
											<img src="../static-front/img/9.png" alt="" class="primary-img">
											<img src="../static-front/img/10.png" alt="" class="secondary-img">
										</a>
									</div>
									<div class="product-name">
										<a href="javascript:;" title="Fusce aliquam">Fusce aliquam</a>
									</div>
									<div class="price-rating">
										<span>$170.00</span>
									</div>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane fade" id="tab2">
								<!-- 使用title标注鞋子的id-->
								<div class="single-product col-md-3" align="center" title="2">
									<input type="hidden" name="shoesId" value="2"/>
									<div class="level-pro-new">
										<span>热销</span>
									</div>
									<div class="product-img">
										<a href="javascript:;">
											<img src="../static-front/img/10.png" alt="" class="primary-img">
											<img src="../static-front/img/9.png" alt="" class="secondary-img">
										</a>
									</div>
									<div class="product-name">
										<a href="javascript:;" title="Fusce aliquam">Fusce aliquam</a>
									</div>
									<div class="price-rating">
										<span>$170.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--新品推荐-->
<div class="features-product-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>新品上市</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="feature-product-slider">
				<!--循环-->
				<div class="col-md-12">
					<!-- 使用title标注鞋子的id-->
					<div class="single-product" align="center" title="3">
						<div class="level-pro-new">
							<span>新品</span>
						</div>
						<div class="product-img">
							<a href="javascript:;">
								<img src="../static-front/img/1-1.png" alt="" class="primary-img">
								<img src="../static-front/img/2-1.png" alt="" class="secondary-img">
							</a>
						</div>
						<div class="product-name">
							<a href="javascript:;" title="Fusce aliquam">耐克好鞋</a>
						</div>
						<div class="price-rating">
							<span class="old-price">$700.00</span>
							<span>$800.00</span>
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>
</div>

<!--经典推荐-->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>经典推荐</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="new-product-slider">
				<div class="col-md-12">
					<!-- 使用title标注鞋子的id-->
					<div class="single-product" align="center" title="4">
						<div class="level-pro-new">
							<span>经典</span>
						</div>
						<div class="product-img">
							<a href="javascript:;">
								<img src="../static-front/img/25.png" alt="" class="primary-img">
								<img src="../static-front/img/26.png" alt="" class="secondary-img">
							</a>
						</div>
						<div class="product-name">
							<a href="javascript:;" title="Fusce aliquam">经典耐克</a>
						</div>
						<div class="price-rating">
							<span class="old-price">$700.00</span>
							<span>$800.00</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!--尾部-->
<div id="the_footer"></div>

<script src="../static-front/js/jquery.min.js"></script>
<script src="../static-front/js/bootstrap.min.js"></script>
<script src="../static-front/js/wow.min.js"></script>
<script src="../static-front/js/jquery-price-slider.js"></script>
<script src="../static-front/js/jquery.nivo.slider.js"></script>
<script src="../static-front/js/jquery.meanmenu.js"></script>
<script src="../static-front/js/owl.carousel.min.js"></script>
<script src="../static-front/js/jquery.elevatezoom.js"></script>
<script src="../static-front/js/jquery.scrollUp.min.js"></script>
<script src="../static-front/js/main.js"></script>
<script src="../static-front/js/shoes-detail.js"></script>

<!--载入头尾部-->
<script>
    $("#the_footer").load("shoes-footer.html");
    $("#the_header").load("shoes-header.html");
</script>


<script>
    $(function () {
        // 调用鞋子点击的事件
        single_product_class_click();
    });

    function single_product_class_click() {

        //alert("加载完成！");
        $(".single-product").click(function () {

            let shoesId = $(this).attr("title");
            if(shoesId) {
                // 说明有id, 动静分离请求的接口
                window.location.href="/static-front/html/shoes-detail.htm?shoesId="+shoesId;
                // 使用thymeleaf 解析的路径
                //window.location.href="detail/"+shoesId;
            }else{
                alert("请求错误！");
            }
        });
    }

</script>

</body>

</html>