<!doctype html>
<html class="no-js" lang="">

<head>
	<title>101 Shoes|首页</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico">

	<link rel="stylesheet" href="../static-front/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static-front/font/font-awesome.min.css">
	<link rel="stylesheet" href="../static-front/css/owl.carousel.css">
	<link rel="stylesheet" href="../static-front/css/owl.theme.css">
	<link rel="stylesheet" href="../static-front/css/owl.transitions.css">
	<link rel="stylesheet" href="../static-front/css/jquery-ui.css">
	<link rel="stylesheet" href="../static-front/css/meanmenu.min.css">
	<link rel="stylesheet" href="../static-front/css/nivo-slider.css">
	<link rel="stylesheet" href="../static-front/css/preview.css">
	<link rel="stylesheet" href="../static-front/css/animate.css">
	<link rel="stylesheet" href="../static-front/css/magic.css">
	<link rel="stylesheet" href="../static-front/css/normalize.css">
	<link rel="stylesheet" href="../static-front/css/main.css">
	<link rel="stylesheet" href="../static-front/css/style.css">
	<link rel="stylesheet" href="../static-front/css/responsive.css">

	<script src="../static-front/js/modernizr-2.8.3.min.js"></script>

</head>

<body>
<!--头部信息-->
<header>
	<div id="header-user"></div>
	<div id="header-nav"></div>
</header>
<!--轮播商品-->
<div class="slider-area home1" align="center">
	<div class="bend niceties preview-2">
		<div id="myCarousel" class="carousel slide" style="height: 522px;">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="#"><img src="../static-front/img/slider-1.jpg" style="height: 520px;"
									 alt="First slide"></a>
				</div>
				<div class="item">
					<a href="#"><img src="../static-front/img/slider-2.jpg" style="height: 520px;"
									 alt="Second slide"></a>
				</div>
				<div class="item">
					<a href="#"><img src="../static-front/img/slider-1.jpg" style="height: 520px;"
									 alt="Third slide"></a>
				</div>
			</div>
			<!-- 轮播（Carousel）导航 -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">
				<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>

<!--热销鞋类-->
<div class="products-area">
	<div class="container">
		<div class="products">
			<div class="row">
				<div class="col-md-12">
					<div class="product-menu">
						<div class="menu-title">
							<h2 style="padding-top: 15px; font-family: 幼圆"><strong>101 Shoes 新品上市</strong></h2>
						</div>
						<div class="side-menu">
							<ul class="tab-navigation" role="tablist">
								<li role="presentation" class="active col-md-6" style="float: left">
									<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">男鞋</a>
								</li>
								<li role="presentation" class="col-md-6">
									<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">女鞋</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab1">
								<div id="newShoes-1">
									<div v-for="item in list">
										<!-- 使用title标注鞋子的id-->
										<div class="single-product col-md-3" align="center" :title="item.shoesid">
											<input type="hidden" name="shoesId" value="1"/>
											<div class="level-pro-new">
												<span>新品</span>
											</div>
											<div class="product-img">
												<a target="_blank" :href="'/static-front/html/shoes-detail.htm?shoesId='+item.shoesid">
													<img :src="item.pics[0]" :alt="item.shoesname" class="primary-img">
													<img :src="item.pics[1]" :alt="item.shoesname" class="secondary-img">
												</a>
											</div>
											<div class="product-name ">
												<span  :title="item.shoesid">{{item.shoesname}}</span>
											</div>
											<div class="price-rating">
												<span>￥{{item.price}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane fade" id="tab2">
								<div id="newShoes-2">
									<div v-for="item in list">
										<!-- 使用title标注鞋子的id-->
										<div class="single-product col-md-3" align="center" :title="item.shoesid">
											<input type="hidden" name="shoesId" value="2"/>
											<div class="level-pro-new">
												<span>新品</span>
											</div>
											<div class="product-img">
												<a target="_blank" :href="'/static-front/html/shoes-detail.htm?shoesId='+item.shoesid">
													<img :src="item.pics[0]" :alt="item.shoesname" class="primary-img">
													<img :src="item.pics[1]" :alt="item.shoesname" class="secondary-img">
												</a>
											</div>
											<div class="product-name ">
												<span  :title="item.shoesid">{{item.shoesname}}</span>
											</div>
											<div class="price-rating">
												<span>￥{{item.price}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--热销鞋类-->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>热销鞋类</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!--列出商品-->
			<div class="product-content" id="theHots">
				<div class="tab-content">
					<div v-for="item in list">
						<div class="col-lg-3 col-sm-6" align="center">
							<div class="single-product">
								<div class="level-pro-new">
									<span>热销</span>
								</div>
								<div class="product-img">
									<a target="_blank" :href="'/static-front/html/shoes-detail.htm?shoesId='+item.shoesid">
										<img :src="item.pics[0]"  alt=" " class="primary-img ">
										<img :src="item.pics[1]"  alt=" " class="secondary-img ">
									</a>
								</div>
								<div class="product-name ">
									<span  :title="item.shoesid">{{item.shoesname}}</span>
								</div>
								<div class="price-rating ">
									<span>￥{{item.price}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--经典推荐-->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>经典推荐</h2>
				</div>
			</div>
		</div>
		<div class="row">
				<!--列出商品-->
				<div class="product-content" id="theClassic">
					<div class="tab-content">
						<div v-for="item in list">
							<div class="col-lg-3 col-sm-3" align="center">
								<div class="single-product">
									<div class="level-pro-new">
										<span>经典</span>
									</div>
									<div class="product-img">
										<a target="_blank" :href="'/static-front/html/shoes-detail.htm?shoesId='+item.shoesid">
											<img :src="item.pics[0]"  alt=" " class="primary-img ">
											<img :src="item.pics[1]"  alt=" " class="secondary-img ">
										</a>
									</div>
									<div class="product-name ">
										<span  :title="item.shoesid">{{item.shoesname}}</span>
									</div>
									<div class="price-rating ">
										<span>￥{{item.price}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<!--尾部-->
<div id="the_footer"></div>

<script src="../static-front/js/jquery.min.js"></script>
<script src="../static-front/js/bootstrap.min.js"></script>
<script src="../static-front/js/wow.min.js"></script>
<script src="../static-front/js/jquery-price-slider.js"></script>
<script src="../static-front/js/jquery.nivo.slider.js"></script>
<script src="../static-front/js/jquery.meanmenu.js"></script>
<script src="../static-front/js/owl.carousel.min.js"></script>
<script src="../static-front/js/jquery.elevatezoom.js"></script>
<script src="../static-front/js/jquery.scrollUp.min.js"></script>
<script src="../static-front/js/main.js"></script>
<script src="../static-front/js/vue.js"></script>
<script src="../static-front/js/shoes-detail.js"></script>
<script src="../static-front/header/header-nav.js"></script>
<script src="../static-front/header/header-user.js"></script>
<script src="../static-front/footer/shoes-footer.js"></script>
<script src="../static-front/js/common.js"></script>

<script>
    $(function () {
        // 调用鞋子点击的事件
        single_product_class_click();
        /*获取新品*/
		getNewShoes("男鞋");
        getNewShoes("女鞋");
        /*获取热销*/
		getHotsShoes();
		/*获取经典*/
		getClassicShoes();

    });
    var newShoes_1,newShoes_2,hotShoes,classicShoes;
    newShoes_1 = new Vue({
		el: '#newShoes-1',
		data:{
			list:[]
		},
		methods:{
		}
	});
    newShoes_2 = new Vue({
        el: '#newShoes-2',
        data:{
			list:[]
        },
        methods:{
        }
	});
    hotShoes = new Vue({
        el: '#theHots',
        data:{
            list:[]
        },
        methods:{
        }
    });
    classicShoes = new Vue({
        el: '#theClassic',
        data:{
            list:[]
        },
        methods:{
        }
    });

    function single_product_class_click() {

        //alert("加载完成！");
        $(".single-product").click(function () {

            let shoesId = $(this).attr("title");
            if(shoesId) {
                // 说明有id, 动静分离请求的接口
                window.location.href="/static-front/html/shoes-detail.htm?shoesId="+shoesId;
                // 使用thymeleaf 解析的路径
                //window.location.href="detail/"+shoesId;
            }else{
                alert("请求错误！");
            }
        });
    }
    function getNewShoes(shoesClassify) {
		let count=8;
		let parentId=0;
		let name=shoesClassify;
		$.ajax({
			url: "/getNewestGoods",
			type: 'post',
			data: {
			    count:count,
				parentId:parentId,
				name:name,
			},
			dataType: 'json',
			success: function (result) {
			    if(name=="男鞋"){
                    newShoes_1.list = result.data;
                    console.log("新品男鞋：");
                    console.log(newShoes_1.list);
				}else{
                    newShoes_2.list = result.data;
                    console.log("新品女鞋：");
                    console.log(newShoes_2.list);
				}
            },
			error: function (err){

			}
		})
    }
    function getHotsShoes() {
        let count=8;
        $.ajax({
            url: "/getHotSale",
            type: 'post',
            data: {
                count:count,
            },
            dataType: 'json',
            success: function (result) {
                hotShoes.list = result.data;
                console.log("热门：");
				console.log(result.data);
            },
            error: function (err){
            }
        })
    }
    function getClassicShoes() {
        let count=8;
        $.ajax({
            url: "/getOldestGoods",
            type: 'post',
            data: {
                count:count,
            },
            dataType: 'json',
            success: function (result) {
                classicShoes.list = result.data;
                console.log("经典：");
                console.log(result.data);
            },
            error: function (err){
            }
        })
    }

</script>

</body>

</html>