<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico">
		<title>登录</title>
		<link rel="stylesheet" href="../static-front/css/bootstrap.css">
		<script src="../static-front/js/jquery-3.2.1.min.js"></script>
		<script src="../static-front/js/popper.js"></script>
		<script src="../static-front/js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript">
            var countdown=60;
            function sendemail(){
                var obj = $("#dlbtn");
                $.post({url:"/login/loginSMSCode",
                    dataType:'json',
                    type: 'post',
                    data:{
                        mobile:$("#phone1").val()
                    },
                    success:function(result){
                        //eval函数解析json数据
                        // alert(result.toString());
                        console.log(result.data);
                        if (result.code==0)
                        {
                            settime(obj);
                            // self.location=document.referrer;
                        }
                        else {
                            $(".dxdlyzmtest").html("<span style='color: red;'>"+result.msg+"</span>");
                        }
                        // console.log(result.toString());
                    },
                    fail: function (err) {
                        alert("出错！");
                        console.log(err);
                    }
                });
            }
            function sendemaila(){
                var obj = $("#btn");
                $.post({url:"/login/registerSMSCode",
                    dataType:'json',
                    type: 'post',
                    data:{
                        mobile:$("#phone").val()
                    },
                    success:function(result){
                        //eval函数解析json数据
                        // alert(result.toString());
                        console.log(result.data);
                        if (result.code==0)
                        {
                            settime(obj);
                            $(".dxdlyzmtest").html("<span style='color: green;'>"+result.msg+"</span>");
                            // self.location=document.referrer;
                        }
                        else {
                            $(".dxdlyzmtest").html("<span style='color: red;'>"+result.msg+"</span>");
                        }
                        // console.log(result.toString());
                    },
                    fail: function (err) {
                        alert("出错！");
                        console.log(err);
                    }
                });
            }
            function settime(obj) { //发送验证码倒计时
                if (countdown == 0) {
                    obj.attr('disabled',false);
                    //obj.removeattr("disabled");
                    obj.val("获取验证码");
                    countdown = 60;
                    return;
                } else {
                    obj.attr('disabled',true);
                    obj.val("重新发送(" + countdown + ")");
                    countdown--;
                }
                setTimeout(function() {
                        settime(obj) }
                    ,1000)
            }
		</script>
		<style>
			.container {
				font-family: "微软雅黑";
			}
			p {
				width: 100%;
				line-height: 33px;
				height: 33px;
				text-align: center;
			}
			@media screen and (max-width:992px){
				.imglogo { display:none; }
			}
			.imglogo {
				margin-top: 100px;

			}
			img {

				margin: auto;
                margin-left: 50px;
			}


		</style>

	</head>

	<body style="background-image: url(../static-front/images/denglu.jpg); background-repeat:no-repeat;">
	<div id="the_header col-12"></div>
		<div class="container col-12 row">
			<div class="imglogo col-lg-6 col-md-12 col-sm-12">
				<img src="../static-front/images/newlogo.png"style="width: 180px">
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" style="float: right;">
			    <div class="col-sm-10 col-md-8 col-lg-7 a1" style="margin: auto;margin-top: 180px;padding: 30px 15px 20px 15px;background-color: rgba(255,255,255,0.5);">
				<form >
					<h2 style="text-align:center;">欢迎登录</h2>
					<div class="form-group">
						<input  type="text" class="form-control d1" id="username1" placeholder="用户名" />
					</div>
					<div class="e1">
					</div>

					<div class="form-group">
						<input type="password"  class="form-control d2" id="password1" placeholder="密码" />
					</div>
					<div class="e2">
					</div>
					<div class="custom-control custom-checkbox mb-3">
						<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
						<label class="custom-control-label" for="customCheck">记住密码</label>
						<a href="#" style="float: right;">忘记密码</a>
					</div>
					<div class="form-group">
						<div >
                            <input type="button"  class="btn btn-primary denglu" value="登陆" />
							<!--<a class="btn btn-primary" >登录</a>-->
							<a class="btn btn-warning zhuce" style="margin-left: 30px">注册</a>
							<a href="#" class="dxdl" style="float: right;margin-top: 15px">切换短信登录</a>
						</div>
					</div>
					<div class="e3">
					</div>
				</form>
			</div>

				<div class="col-sm-10 col-md-8 col-lg-7 a3" style="margin: auto;margin-top: 180px;padding: 30px 15px 20px 15px;background-color: rgba(255,255,255,0.5);display: none;">
					<form >
						<h2 style="text-align:center;">短信登录</h2>
						<div class="form-group">
							<input  type="text" class="form-control d1" id="phone1" placeholder="手机" />
						</div>
						<div class="dxdltestphone">
						</div>
						<div class="form-group row" >
							<div class="col-6">
								<input type="text" class="form-control" id="dlyzm" placeholder="请输入验证码" />
							</div>
							<div class="col-6">
								<input type="button" style="margin-right: 0px;float: right;" class="btn btn-primary" id="dlbtn" value="获取验证码" onclick="sendemail()" />
							</div>
							<div class="dxdlyzmtest" style="margin-left: 15px;margin-top: 8px;" >
							</div>
						</div>


						<div class="form-group ">
							<div>
								<button type="button" class="btn btn-primary btn-block duanxindenglu">登录</button>
							</div>
							<a href="#" class="ksdl" style="float: right">切换账号登录</a>
						</div>

					</form>
				</div>
			</div>

			<div id="backGround"></div>
			<div class="col-sm-8 col-md-6 col-lg-5 a2" style="margin: auto;margin-top: 30px;padding: 30px 15px 20px 15px;background-color: rgba(255,255,255,0.5);display: none;">
				<form action="/login/do_login">
					<h2 style="text-align:center;">欢迎注册</h2>
					<div class="form-group  row">
						<div class="col-3">
							<p style="text-align:center;">用户名：</p>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" id="username2" placeholder="请输入2~10位字符" />
						</div>
						<div class="col-1 usernametest">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3">
							<p style="text-align:center;">输入密码：</p>
						</div>
						<div class="col-8">
							<input type="password" class="form-control" id="password" placeholder="请输入6~12位密码" />
						</div>
						<div class="col-1 passwordtest">

						</div>
					</div>
					<div class="form-group row">
						<div class="col-3">
							<p style="text-align:center;">确认密码：</p>
						</div>
						<div class="col-8">
							<input type="password" class="form-control" id="repassword" placeholder="请再次输入密码"/>
						</div>
						<div class="col-1 repasswordtest">

						</div>
					</div>
					<div class="form-group row">
						<div class="col-3">
							<p style="text-align:center;">性别：</p>
						</div>
						<div class="col-8" style="margin: auto 0">
						<label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio1" value="男"> 男

							<input type="radio" name="gender" id="inlineRadio2" value="女"> 女
							<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">✖</span>-->
                        </label>

                        </div>
					</div>
					<div class="form-group  row">
						<div class="col-3">
							<p style="text-align:center;">手机：</p>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" id="phone" placeholder="请填写11位手机号码" />
						</div>
						<div class="col-1 phonetest" >

						</div>
					</div>
					<div class="form-group  row">
						<div class="col-3">
							<p style="text-align:center;">短信验证：</p>
						</div>
						<div class="col-4">
							<input type="text" class="form-control" id="yzm" placeholder="请输入验证码" />
						</div>
						<div class="col-1 yzmtest" >
						</div>
						<div class="col-3">
							<input type="button" class="btn btn-primary" id="btn" value="获取验证码" onclick="sendemaila()" />
						</div>
					</div>
					<div class="zhuceyanzheng">

					</div>
					<div class="form-group col-12">
						<div class="col-6" style="margin: auto;">
							<a class="btn btn-warning  zhuce2">注册</a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-warning  fanhui">返回</a>
						</div>
					</div>
				</form>
			</div>
			<div id="the_footer"></div>

		</div>
		<script>
			$(function() {
				$("a.zhuce").click(function() {
					$("div.a1").hide();
					$("div.a2").show();
				});

				$("a.zhuce2").click(function() {
                    var inputPassa = $("#repassword").val();
                    var passworda = hex_md5(inputPassa);
                    $.post({url:"/login/do_Regiser",
                        dataType:'json',
                        type: 'post',
                        data:{
                            username:$("#username2").val(),
                            password:passworda,
                            phone:$("#phone").val(),
                            gender:$("input[name='gender']:checked").val(),
							code:$("#yzm").val()
                        },
                        success:function(result){
                            //eval函数解析json数据
                            // alert(result.toString());
                            console.log(result.data);
                            if (result.code==0)
                            {
                                $("div.a2").hide();
                                $("div.a1").show();
                                // self.location=document.referrer;
                            }
                            else {
                                $(".zhuceyanzheng").html("<span style='color: red;'>"+result.msg+"</span>");
                            }
                            // console.log(result.toString());
                        },
                        fail: function (err) {
                            alert("出错！");
                            console.log(err);
                        }
                    });
				});
				$("a.fanhui").click(function() {
					$("div.a2").hide();
					$("div.a1").show();
				});
                $(".dxdl").click(function() {
                    $("div.a1").hide();
                    $("div.a3").show();
                });
                $(".ksdl").click(function() {
                    $("div.a3").hide();
                    $("div.a1").show();
                });
                $(".duanxindenglu").click(function () {
                    $.post({url:"/login/do_loginCode",
                        dataType:'json',
                        type: 'post',
                        data:{
                            mobile:$("#phone1").val(),
                            code:$("#dlyzm").val()
                        },
                        success:function(result){
                            //eval函数解析json数据
                            // alert(result.toString());
                            console.log(result.data);
                            if (result.code==0)
                            {
                                self.location=document.referrer;
                            }
                            else {
                                $(".dxdlyzmtest").html("<span style='color: red;'>"+result.msg+"</span>");
                            }
                            // console.log(result.toString());
                        },
                        fail: function (err) {
                            alert("出错！");
                            console.log(err);
                        }
                    });
                });
			});
            $(function(){

                $(".denglu").click(function(){
                    var inputPass = $(".d2").val();
                    var passwordb = hex_md5(inputPass);
                    $.post({url:"/login/do_login",
                        dataType:'json',
                        type: 'post',
                        data:{
                            mobile:$(".d1").val(),
							password: passwordb
						},
                        success:function(result){
                            //eval函数解析json数据
                            // alert(result.toString());
                            console.log(result.data);
                            if (result.code==0)
							{
							    // alert("成功"+passwordb);
                                self.location=document.referrer;
							}
                            if (result.code==500212||result.code==500213||result.code==500214||result.code==500216) {
								$(".e1").html("<span style='color: red;'>"+result.msg+"</span>");
                            }
                            else if  (result.code==500211||result.code==500215)
							{
                                $(".e2").html("<span style='color: red;'>"+result.msg+"</span>");
							}
							else {
                                $(".e3").html("<span style='color: red;'>"+result.msg+"</span>");
							}

                            // console.log(result.toString());
                        },
                        fail: function (err) {
                            alert("出错！");
                            console.log(err);
                        }
                    });
                });

                $("#password").blur(function(){
                    if ($("#password").val().length>5&&$("#password").val().length<12) {
                        $(".passwordtest").html("<span  style='color: green;'>✔</span>");
                    }
                    else{
                        $(".passwordtest").html("<span style=\"color: red;\">✖</span>");
                    }
                });
                $("#repassword").blur(function(){
                    if ($("#repassword").val()==$("#password").val()) {
                        $(".repasswordtest").html("<span  style='color: green;'>✔</span>");
                    }
                    else{
                        $(".repasswordtest").html("<span style=\"color: red;\">✖</span>");
                    }
                });
                $("#phone").blur(function(){
                    if ($("#phone").val().length==11) {
                        $(".phonetest").html("");
                    }
                    else{
                        $(".phonetest").html("<span style=\"color: red\">✖</span>");
                    }
                });
                $("#yzm").blur(function(){
                    if ($("#yzm").val().length==6) {
                        $(".yzmtest").html("");
                    }
                    else{
                        $(".yzmtest").html("<span style=\"color: red ;\">✖</span>");
                    }
                });

            });
            $(function () {
                $("#username2").blur(function(){
                    if ($("#username2").val().length>2&&$("#username2").val().length<11) {
                        $(".usernametest").html("<span  style='color: green;'>✔</span>");
                    }
                    else{
                        $(".usernametest").html("<span style=\"color: red;\">✖</span>");
                    }
                });

            });


            // $("#the_footer").load("./shoes101/templates/front/shoes-footer.html");
            // $("#the_header").load("/header/toShoes-header");

		</script>

	</body>

</html>