<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>101 Shoes | 我的信息</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico" >
	<link rel="stylesheet" href="../static-front/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static-front/font/font-awesome.min.css">
	<link rel="stylesheet" href="../static-front/css/owl.carousel.css">
	<link rel="stylesheet" href="../static-front/css/owl.theme.css">
	<link rel="stylesheet" href="../static-front/css/owl.transitions.css">
	<link rel="stylesheet" href="../static-front/css/jquery-ui.css">
	<link rel="stylesheet" href="../static-front/css/meanmenu.min.css">
	<link rel="stylesheet" href="../static-front/css/nivo-slider.css">
	<link rel="stylesheet" href="../static-front/css/preview.css">
	<link rel="stylesheet" href="../static-front/css/animate.css">
	<link rel="stylesheet" href="../static-front/css/magic.css">
	<link rel="stylesheet" href="../static-front/css/normalize.css">
	<link rel="stylesheet" href="../static-front/css/main.css">
	<link rel="stylesheet" href="../static-front/css/style.css">
	<link rel="stylesheet" href="../static-front/css/responsive.css">
	<link rel="stylesheet" href="../static-front/css/sitelogo.css">
	<link rel="stylesheet" href="../static-front/css/cropper.min.css">

	<script src="../static-front/js/city.js"></script>

	<script src="../static-front/js/modernizr-2.8.3.min.js"></script>
	<style>
		.account-area .container .col-md-9 {
			padding-top: 15px;
		}

		.single-sidebar-content li a::before {
			content: none;
		}

		.nav-pills>li.active>a,
		.nav-pills>li.active>a:focus,
		.nav-pills>li.active>a:hover {
			background-color: #F25862 !important;
		}

		.wodedingdan h3 {
			color: #222;
			font-size: 14px;
			font-weight: 500;
			margin: 15px 15px 0 0;
		}

		form .list-style .form-name {
			padding-top: 10px;
		}
		.lijifukuan button {
			float: right !important;
		}
		tbody tr td a img{
			width: 80px;
			height: 80px;
		}
		tbody tr td button{
			box-sizing: border-box;
			display: inline-block;
			height: 28px;
			line-height: 26px;
			padding: 0 12px;
			border-radius: 3px;
			font-size: 12px;
			cursor: pointer;
			text-align: center;
			background-color: #F35E62;
			color: #fff;
			border: 1px solid #F35E62;
		}
	</style>
</head>
<body>
<!--头部信息-->
<div id="the_header"></div>

<div class="account-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="location">
					<a href="#" th:text="${acaac}">这里写登录人的名字</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class=" product-sidebar">
					<div class="single-sidebar">
						<!--<div class="single-sidebar-title">
                            <h3>我的订单</h3>
                        </div>-->
						<div class="side-menu">
							<div class="single-sidebar-content">
								<ul class="nav nav-pills aaaaa" role="tablist">
									<li class="aaaaa">
										<div class="wodedingdan">
											<h3>我的订单</h3>
										</div>
									</li>
									<li role="presentation" class="aaaaa">
										<a href="#meifu" aria-controls="profile" role="tab" data-toggle="tab">待付款</a>
									</li>
									<li class="aaaaa">
										<a href="#daifa" aria-controls="profile" role="tab" data-toggle="tab">待发货</a>
									</li>
									<li class="aaaaa">
										<a href="#daishou" aria-controls="profile" role="tab" data-toggle="tab">待收货</a>
									</li>
									<li class="aaaaa">
										<a href="#tuikuan" aria-controls="profile" role="tab" data-toggle="tab">退款/售后</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="product-sidebar">
					<div class="single-sidebar">
						<div class="single-sidebar-title">
							<h3>全部功能</h3>
						</div>
						<div class="side-menu">
							<div class="single-sidebar-content">
								<ul class="nav nav-pills  nav-stacked" role="tablist">
									<li role="presentation" class="bbbb1 in active wode">
										<a href="#meifu" aria-controls="profile" role="tab" data-toggle="tab">我的订单</a>
									</li>
									<li role="presentation" class="bbbbb">
										<a href="#home" aria-controls="profile" role="tab" data-toggle="tab">个人信息</a>
									</li>
									<li role="presentation" class="bbbbb">
										<a href="#gaimima" aria-controls="profile" role="tab" data-toggle="tab">修改密码</a>
									</li>
									<li role="presentation" class="bbbbb">
										<a href="#shoucang" aria-controls="profile" role="tab" data-toggle="tab">收藏</a>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade " id="home">
						<div class="my-account-accordion">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<i class="fa fa-list-ol"></i>
												历史订单和详细信息
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<div class="wishlist-content">
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
														<tr>
															<th>图片</th>
															<th>名称</th>
															<th>类型</th>
															<th>交易状态</th>
															<th>价格</th>
															<th>操作</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td>
																<a href="#" class="text-center"><img src="img/1-2.png" /> </a>
															</td>
															<td>
																<a href="single-product.html">More-Or-Less</a>
															</td>
															<td>Product 14</td>
															<td>
																<p>已收货</p>
																<br />
																<!--<a href="#">退款</a>-->
															</td>
															<td class="unit-price">$100.00</td>
															<td>
																<div class="queRenShouHuo">
																	<button type="button" data-toggle="tooltip" title="亲，需要付款才能发货哦" style="margin-right: 10px;"> 联系客服</button>
																</div>
															</td>
														</tr>

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												<i class="fa fa-building-o"></i>
												我的收货地址
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<div class="my-address">
														<p>请在下订单时配置您的默认结算和送货地址。您还可以添加其他地址，这对于在您的办公室发送礼物或接收订单非常有用。</p>
														<div class="account-title">
															<h4>您的地址如下所示 </h4>
														</div>
														<p>如果您的个人信息发生了变化，请务必更新。</p>
														<div class="row">
															<div class="col-md-6 col-sm-12">
																<div class="account-address">
																	<ul>
																		<li class="address-menu-title">我的地址</li>

																		<li>地址：<span>广东省广州市海珠区新世界天地f5栋100层</span></li>
																		<li>手机：<span>13412345678</span></li>
																		<li>姓名：<span>莉君氢</span></li>
																		<li>
																			<button> 更新 </button>
																			<button> 提交 </button>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="add-address">
															<button>add new address</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												<i class="fa fa-user"></i>
												个人信息
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<div class="col-md-12">
												<div class="delivery-details">
													<form action="#">
														<div class="list-style">
															<div class="account-title">
																<h4>如果您的个人信息发生了变化，请务必更新。</h4>
															</div>
															<div class="form-name">
																<label>姓名  </label>
																<input type="text" placeholder="请填写你的姓名">
															</div>
															<div class="form-name">
																<label>公司 </label>
																<input type="text" placeholder="请填写你的公司名称">
															</div>

															<div class="form-name">
																<label>邮政编码  </label>
																<input type="text" placeholder="请填写你的邮政编码">
															</div>
															<div class="form-name">
																<label> 省份 </label>
																<select id="province" value=""></select>
															</div>
															<div class="form-name">
																<label> 城市 </label>
																<select id="city"></select>
															</div>
															<div class="form-name">
																<label>详细地址  </label>
																<input type="text" placeholder="请填写常住地址">
															</div>
															<div class="save-button">
																<button>保存</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="account-button">
								<div class="back-btn">
									<a href="#">账户页面</a>
								</div>
								<div class="home">
									<a href="index.html"> 返回主页面</a>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in active" id="meifu">
						<div class="wishlist-heading">
							<h2>待付款</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>图片</th>
										<th>名称</th>
										<th>类型</th>
										<th>交易状态</th>
										<th>价格</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="#" class="text-center"><img src="img/1-2.png" /> </a>
										</td>
										<td>
											<a href="single-product.html">More-Or-Less</a>
										</td>
										<td>Product 14</td>
										<td>
											待付款
											<a href="#">退款</a>
										</td>
										<td class="unit-price">$100.00</td>
										<td>
											<div class="lijifukuan">
												<button type="button" data-toggle="tooltip" title="放弃购买"> <i class="fa fa-times"></i> </button>
												<button type="button" data-toggle="tooltip" title="亲，需要付款才能发货哦" style="margin-right: 10px;"> 立即付款</button>
											</div>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
							<button type="submit" value="Continue" class="check-button">一键付款</button>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="daifa">
						<div class="wishlist-heading">
							<h2>待发货</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>图片</th>
										<th>名称</th>
										<th>类型</th>
										<th>交易状态</th>
										<th>价格</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="#" class="text-center"><img src="img/1-2.png" > </a>
										</td>
										<td>
											<a href="single-product.html">More-Or-Less</a>
										</td>
										<td>Product 14</td>
										<td>
											<p>待发货</p>
											<br />
											<a href="#">放弃</a>
										</td>
										<td class="unit-price">$100.00</td>
										<td>
											<p>商家尚未发货</p>
											<button type="button" data-toggle="tooltip" title="提醒商家发货" style="margin-right: 10px;"> 提醒发货</button>
										</td>
									</tr>
									<tr>
										<td>
											<a href="#" class="text-center"><img src="img/2-2.png" alt=""> </a>
										</td>
										<td>
											<a href="single-product.html">Aliquam Consequat</a>
										</td>
										<td>Product 14</td>
										<td>
											<p>待发货</p>
											<br />
											<a href="#">退款</a>
										</td>
										<td class="unit-price">$90.00</td>
										<td>
											<div>
												<p>商家尚未发货</p>
												<button type="button" data-toggle="tooltip" title="提醒商家发货" style="margin-right: 10px;"> 提醒发货</button>
											</div>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="daishou">
						<div class="wishlist-heading">
							<h2>待收货</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>图片</th>
										<th>名称</th>
										<th>类型</th>
										<th>交易状态</th>
										<th>价格</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="#" class="text-center"><img src="img/1-2.png" /> </a>
										</td>
										<td>
											<a href="single-product.html">More-Or-Less</a>
										</td>
										<td>Product 14</td>
										<td>
											<p>待收货</p>
											<br />
											<a href="#">退款</a>
										</td>
										<td class="unit-price">$100.00</td>
										<td>
											<div class="queRenShouHuo">
												<button type="button" data-toggle="tooltip" title="亲，需要付款才能发货哦" style="margin-right: 10px;"> 确认收货</button>
											</div>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tuikuan">
						<div class="wishlist-heading">
							<h2>退款/售后</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>图片</th>
										<th>名称</th>
										<th>类型</th>
										<th>交易状态</th>
										<th>价格</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="#" class="text-center"><img src="img/1-2.png" /> </a>
										</td>
										<td>
											<a href="single-product.html">More-Or-Less</a>
										</td>
										<td>Product 14</td>
										<td>
											<p>已收货/退款中</p>
											<br />
											<!--<a href="#">退款</a>-->
										</td>
										<td class="unit-price">$100.00</td>
										<td>
											<div class="queRenShouHuo">
												<button type="button" data-toggle="tooltip" title="亲，需要付款才能发货哦" style="margin-right: 10px;"> 联系客服</button>
											</div>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane fade " id="shoucang">
						<!--<iframe style="width:300px; height:300px;" id="childframe" src="index.html"></iframe>-->
						<div class="features-product-area">
							<div class="container">

								<div class="row">
									<div class="feature-product-slider">
										<div class="col-md-12">
											<div class="single-product" align="center">
												<div class="level-pro-new">
													<span>新品</span>
												</div>
												<div class="product-img">
													<a href="single-product.html">
														<img src="img/1-1.png" alt="" class="primary-img">
														<img src="img/2-1.png" alt="" class="secondary-img">
													</a>
												</div>
												<div class="product-name">
													<a href="single-product.html" title="Fusce aliquam">耐克好鞋</a>
												</div>
												<div class="price-rating">
													<span class="old-price">$700.00</span>
													<span>$800.00</span>
												</div>
												<div class="actions">
													<button type="submit" class="btn btn-success btn-group-sm" title="Add to cart">立即购买</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<button type="submit" class="btn btn-danger" title="Add to cart">取消收藏</button>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div role="tabpanel" class="tab-pane fade" id="gaimima">
						<form action="#">
							<div class="list-style">
								<div class="form-name">
									<label>原密码  </label>
									<input class="inputc1" type="text" name="password" placeholder="请输入原密码">
									<br />

								</div>
								<div class="form-name" style="padding-left: 100px;padding-top: 15px;color: red;">
									<p id="mima" class="mima"></p>
								</div>
								<div class="form-name">
									<label>新密码  </label>
									<input class="inputc2" type="text" name="newpassword" placeholder="请输入你的密码">
								</div>
								<div class="form-name">
									<p id="xinmima" class="xinmima"></p>
								</div>
								<div class="form-name">
									<label>再次输入密码  </label>
									<input class="inputc3" type="text" name="renewpassword" placeholder="请再次输入你的密码" disabled="disabled">
								</div>
								<div class="form-name">
									<p id="xinmimaa" class="xinmimaa"></p>
								</div>
							</div>
							<div class="save-button">
								<a><button type="button">确认修改</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a><button>忘记密码</button></a>
							</div>

					</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="hongbao">...</div>
				<div role="tabpanel" class="tab-pane fade" id="gongju">...</div>
			</div>

		</div>
	</div>
</div>
</div>


<!--尾部-->
<div id="the_footer"></div>

<script src="../static-front/js/jquery-1.12.1.min.js"></script>
<script>
    $("#the_footer").load("/a/c");
    $("#the_header").load("/header/toShoes-header");
</script>
<script>
    $(document).ready(function() {
        $("li.aaaaa").click(function() {
            if($("li.bbbbb").hasClass("active")) {
                $("li.bbbbb").removeClass("active");
            }
        });
    });
    $(document).ready(function() {
        $("li.bbbbb").click(function() {
            if($("li.aaaaa").hasClass("active")) {
                $("li.aaaaa").removeClass("active");
            }
        });
    });
    $(document).ready(function() {
        $("li.bbbb1").click(function() {
            $("ul.aaaaa").show();
        });
    });
    $(document).ready(function() {
        $("li.bbbbb").click(function() {
            $("ul.aaaaa").hide();
        });
    });
    $(function() {
        $("input.inputc1").blur(function() {
            $("input").removeAttr("disabled");
        });
    });
    //				$(function() {
    //					$("li.bbbb2").click(function() {
    //						$(".shoucangtou").show();
    //					});
    //				});
    $(function() {
        $("input.inputc1").blur(function() {
            var a = $("input[class='inputc1']").val();
            if(a == '123456') {
                $("#mima").html("密码正确");
            } else {
                $("#mima").html("密码错误");
            }
        });
    });
    //			$(document).ready(function(){
    //              $(".bbbb2").click(function(){
    //                 $('#shoucang').load('index.html');
    //              });
    //         });
    (function() {
        var pHtmlStr = '';
        for(var name in pc) {
            pHtmlStr = pHtmlStr + '<option value=\"' + name + '\">' + name + '</option>';
        }
        $("#province").html(pHtmlStr);
        $("#province").change(function() {
            var pname = $("#province option:selected").text();
            var pHtmlStr = '';
            var cityList = pc[pname];
            for(var index in cityList) {
                pHtmlStr = pHtmlStr + '<option value=\"' + cityList[index] + '\">' + cityList[index] + '</option>';
            }
            $("#city").html(pHtmlStr);
        });
        $("#province").change();
    })();
</script>

<script src="../static-front/js/bootstrap.min.js" ></script>
<script src="../static-front/js/wow.min.js" ></script>
<script src="../static-front/js/jquery-price-slider.js" ></script>
<script src="../static-front/js/jquery.nivo.slider.js" ></script>
<script src="../static-front/js/home.js" ></script>
<script src="../static-front/js/jquery.meanmenu.js" ></script>
<script src="../static-front/js/owl.carousel.min.js" ></script>
<script src="../static-front/js/jquery.elevatezoom.js" ></script>
<script src="../static-front/js/jquery.scrollUp.min.js" ></script>
<script src="../static-front/js/plugins.js" ></script>
<script src="../static-front/js/main.js" ></script>
<script src="../static-front/js/sitelogo.js" ></script>
<script src="../static-front/js/cropper.min.js" ></script>


<!--载入头尾部-->


</head>
</body>

</html>