<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>101 Shoes | 我的信息</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico" >
	<link rel="stylesheet" href="../static-front/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static-front/font/font-awesome.min.css">
	<link rel="stylesheet" href="../static-front/css/owl.carousel.css">
	<link rel="stylesheet" href="../static-front/css/owl.theme.css">
	<link rel="stylesheet" href="../static-front/css/owl.transitions.css">
	<link rel="stylesheet" href="../static-front/css/jquery-ui.css">
	<link rel="stylesheet" href="../static-front/css/meanmenu.min.css">
	<link rel="stylesheet" href="../static-front/css/nivo-slider.css">
	<link rel="stylesheet" href="../static-front/css/preview.css">
	<link rel="stylesheet" href="../static-front/css/animate.css">
	<link rel="stylesheet" href="../static-front/css/magic.css">
	<link rel="stylesheet" href="../static-front/css/normalize.css">
	<link rel="stylesheet" href="../static-front/css/main.css">
	<link rel="stylesheet" href="../static-front/css/style.css">
	<link rel="stylesheet" href="../static-front/css/responsive.css">


	<script src="../static-front/js/city.js"></script>

	<script src="../static-front/js/modernizr-2.8.3.min.js"></script>
	<style>
		.account-area .container .col-md-9 {
			padding-top: 15px;
		}
		.single-sidebar-content li a::before {
			content: none;
		}

		.nav-pills>li.active>a,
		.nav-pills>li.active>a:focus,
		.nav-pills>li.active>a:hover {
			background-color: #F25862 !important;
		}
		.single-sidebar-content li a::before{
			content: none !important;

		}

		.wodedingdan h3 {
			color: #222;
			font-size: 14px;
			font-weight: 500;
			margin: 15px 15px 0 0;
		}

		form .list-style .form-name {
			padding-top: 10px;
		}
		.lijifukuan button {
			float: right !important;
		}
		tbody tr td a img{
			width: 80px;
			height: 80px;
		}
		tbody tr td button{
			box-sizing: border-box;
			display: inline-block;
			height: 28px;
			line-height: 26px;
			padding: 0 12px;
			border-radius: 3px;
			font-size: 12px;
			cursor: pointer;
			text-align: center;
			background-color: #F35E62;
			color: #fff;
			border: 1px solid #F35E62;
		}
		.headpica img{
			margin-top: 10px;
			height: 50px;
			width: 50px
		 }
        #message{
            background-color: #e5e5e5;
        }
        #message span{
            margin-right: 3em;
            width: 100%;
        }
	</style>
</head>
<body>
<!--头部信息-->
<header>
    <div id="header-user"></div>
    <div id="header-nav"></div>
</header>

<div class="account-area">
	<div class="container">
		<div class="row">
			<div class=" col-md-3">
				<div class="row">
					<div class="col-md-4 headpica">
						<!--<img th:src="${}" >-->
						<img src="../img/a1.jpg" class="img-circle">
					</div>
				<div class="location col-md-8">
					<a href="#" >[[${imformation.myInformation.user.username}]]</a>
				</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class=" product-sidebar">
					<div class="single-sidebar">
						<div class="side-menu">
							<div class="single-sidebar-content">
								<ul class="nav nav-pills aaaaa" role="tablist">
									<li class="aaaaa">
										<div class="wodedingdan">
											<h3>我的订单</h3>
										</div>
									</li>
									<li role="presentation" class="aaaaa">
										<a href="#meifu" class="denglu" aria-controls="profile" role="tab" data-toggle="tab">待付款</a>
									</li>
									<li class="aaaaa">
										<a href="#daifa" aria-controls="profile" role="tab" data-toggle="tab">待发货</a>
									</li>
									<li class="aaaaa">
										<a href="#daishou" aria-controls="profile" role="tab" data-toggle="tab">待收货</a>
									</li>
									<li class="aaaaa">
										<a href="#yishou" aria-controls="profile" role="tab" data-toggle="tab">已收货</a>
									</li>
									<li class="aaaaa">
										<a href="#tuikuan" aria-controls="profile" role="tab" data-toggle="tab">退款/售后</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="product-sidebar">
					<div class="single-sidebar">
						<div class="single-sidebar-title">
							<h3>全部功能</h3>
						</div>
						<div class="side-menu">
							<div class="single-sidebar-content">
								<ul class="nav nav-pills  nav-stacked" role="tablist">
									<li role="presentation" class="bbbb1 in active wode">
										<a href="#meifu" aria-controls="profile" role="tab" data-toggle="tab">我的订单</a>
									</li>
									<li role="presentation" class="bbbbb">
										<a href="#home" aria-controls="profile" role="tab" data-toggle="tab">个人信息</a>
									</li>
									<li role="presentation" class="bbbbb">
										<a href="#gaimima" aria-controls="profile" role="tab" data-toggle="tab">修改密码</a>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade " id="home">
						<div class="my-account-accordion">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed chaxunxinxi" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"  >
												<i class="fa fa-building-o"></i>
												我的收货地址
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="my-address">
														<p>请在下订单时配置您的默认结算和送货地址。您还可以添加其他地址，这对于在您的办公室发送礼物或接收订单非常有用。</p>
														<div class="account-title">
															<h4>您的地址如下所示 </h4>
														</div>
														<p>如果您的个人信息发生了变化，请务必更新。</p>
														<div class="row">
															<div class="col-md-6 col-sm-12">
																<div class="account-address">
																	<ul>
																		<li class="address-menu-title">我的地址</li>
																		<li>地址：<span class="showaddress" th:text="((${imformation.myInformation.userAdress}!='')? ${imformation.myInformation.userAdress.address} : '还没填写')"></span></li>
																		<li>手机：<span class="showphone">[[${imformation.myInformation.user.phone}]]</span></li>
																		<li>姓名：<span class="showusername">[[${imformation.myInformation.user.username}]]</span></li>
																		<li>
																			<!--<button > 更新 </button>-->
																			<!--<button> 提交 </button>-->
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<!--<div class="add-address">-->
															<!--<button>添加新地址</button>-->
														<!--</div>-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												<i class="fa fa-user"></i>
												修改联系方式
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<div class="col-md-12">
												<div class="delivery-details">
													<form action="#">
														<div class="list-style">
															<div class="account-title">
																<h4>如果您的个人信息发生了变化，请务必更新。</h4>
															</div>
															<div class="form-name">
																<label>姓名  </label>
																<input class="changename" type="text" placeholder="请填写你的姓名">
															</div>
															<div class="form-name">
																<label>电话 </label>
																<input class="changephone" type="text" placeholder="请填写你的收货电话号码">
															</div>
															<div class="form-name">
																<label> 省份 </label>
																<select class="province" id="province" value=""></select>
															</div>
															<div class="form-name">
																<label> 城市 </label>
																<select class="city" id="city"></select>
															</div>
															<div class="form-name">
																<label>详细地址  </label>
																<input class="longaddress" placeholder="请填写常住地址">
															</div>
															<div class="changemessage save-button">
																<button>确认修改</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<i class="fa fa-list-ol"></i>
												历史订单和详细信息
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<div class="wishlist-content">
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
														<tr>
															<th>商品</th>
															<th>实付金额</th>
															<th>订单状态</th>
															<th>交易时间</th>
														</tr>
														</thead>
														<tbody th:each="test : ${imformation.myInformation.myorder}">
														<tr>
															<td style="width: 45%;">
                                                                <div class="container-fluid">
                                                                    <div th:each="testdetail : ${test.orderDetail}">
                                                                        <div class=" row" >
                                                                            <div class="col-md-3">
                                                                                <a href="#" class="text-center">
                                                                                    <img th:src="${testdetail.colorpicaddredd}" >
                                                                                </a>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <a href="single-product.html">[[${testdetail.shoesname}]]</a>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12 " style="height: 40px;">
                                                                                            ￥<span>[[${testdetail.price}]]</span>
                                                                                        </div>
                                                                                        <div class="col-md-12" style="height: 40px;">
                                                                                            数量：<span>[[${testdetail.quantity}]]</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr />
                                                                    </div>
                                                                </div>
															</td>
                                                            <td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
                                                            <td style="width: 13%;">
																<div th:if="${test.shoesorder.validity}==1">
																	<div th:if="${test.shoesorder.cancel}==0">
																		<div th:switch="${test.shoesorder.state}">
																			<span style="line-height: 93px;" th:case="0">未付款</span>
																			<span style="line-height: 93px;" th:case="1">未发货</span>
																			<span style="line-height: 93px;" th:case="2">未收货</span>
																			<span style="line-height: 93px;" th:case="3">已收货</span>
																		</div>
																	</div>
																	<div th:if="${test.shoesorder.cancel}==1">
																		<span style="line-height: 93px;color: red;" >申请退款</span>
																	</div>
																</div>
																<div th:if="${test.shoesorder.validity}==0">
																	<span style="line-height: 93px;color: red;" >已退款</span>
																</div>
                                                                <!--<span style="line-height: 93px;" th:if="">[[${test.shoesorder.orderid}]]</span>-->
                                                            </td>
															<td>
																<span style="line-height: 93px;">[[${#dates.format(test.shoesorder.buydate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
															</td>
														</tr>
                                                        <tr>
                                                            <td id="message" colspan="5">
                                                                <span>订单号：[[${test.shoesorder.orderid}]]</span>
                                                                <span>收货人：[[${test.shoesorder.contactname}]]</span>
                                                                <span>电话：[[${test.shoesorder.contactphone}]]</span>
                                                                <span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
                                                                <br>
                                                                <span>备注：[[${test.shoesorder.remark}]]</span>
                                                            </td>
                                                        </tr>
														<tr style="border: none;height: 30px;"></tr>
														</tbody>

													</table>
												</div>
												<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
											</div>

										</div>
									</div>
								</div>


							</div>
							<div class="account-button">
								<div class="back-btn">
									<a href="#">账户页面</a>
								</div>
								<div class="home">
									<a href="index.html"> 返回主页面</a>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in active" id="meifu">
						<div class="wishlist-heading">
							<h2>待付款</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th style="width: 45%;">商品</th>
										<th>实付金额</th>
										<th>订单号</th>
										<th>交易状态</th>
										<th>交易操作</th>
									</tr>
									</thead>
									<tbody th:each="test : ${imformation.order.nopayoder}">
									<tr >
										<td style="width: 45%;">
											<div class="container-fluid">
                                                <div th:each="testdetail : ${test.orderDetail}">
												<div class=" row" >
													<div class="col-md-3">
														<a href="#" class="text-center">
															<img th:src="${testdetail.colorpicaddredd}" >
														</a>
													</div>
													<div class="col-md-5">
														<a href="single-product.html">[[${testdetail.shoesname}]]</a>
													</div>
													<div class="col-md-4">
														<div class="container-fluid">
															<div class="row">
																<div class="col-md-12 " style="height: 40px;">
																	￥<span>[[${testdetail.price}]]</span>
																</div>
																<div class="col-md-12" style="height: 40px;">
																	数量：<span>[[${testdetail.quantity}]]</span>
																</div>
															</div>
														</div>
													</div>
												</div>
                                                <hr />
                                                </div>
											</div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span style="line-height: 93px;">买家未付款</span>
                                            <span th:if="${test.shoesorder.cancel}==1" style="color: red">（已取消购买）</span>
										</td>
										<td>
											<span style="line-height: 90px;">
											<button type="button" data-toggle="tooltip" title="宝贝马上到手" th:onclick="'javascript:lijifukuan('+${test.shoesorder.orderid}+')' " > 立即付款</button>
											</span>
											<br />
											<!--<button type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' "> 联系卖家</button><br />-->
											<a  href="#" style="margin-left: 15px" th:onclick="'javascript:quxiaogoumai('+${test.shoesorder.orderid}+')' ">取消购买</a>

										</td>
									</tr>
                                    <tr>
                                        <td id="message" colspan="5">
                                            <span>收货人：[[${test.shoesorder.contactname}]]</span>
                                            <span>电话：[[${test.shoesorder.contactphone}]]</span>
                                            <span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
                                            <br>
                                            <span>备注：[[${test.shoesorder.remark}]]</span>
                                        </td>
                                    </tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>

								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>

					</div>
					<div role="tabpanel" class="tab-pane fade" id="daifa">
						<div class="wishlist-heading">
							<h2>待发货</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>商品</th>
										<th>实付金额</th>
										<th>订单号</th>
										<th>交易状态</th>
										<th>交易操作</th>
									</tr>
									</thead>
									<tbody th:each="test : ${imformation.order.readysend}">
									<tr>
										<td style="width: 45%;">
                                            <div class="container-fluid">
                                                <div th:each="testdetail : ${test.orderDetail}">
                                                    <div class=" row" >
                                                        <div class="col-md-3">
                                                            <a href="#" class="text-center">
                                                                <img th:src="${testdetail.colorpicaddredd}" >
                                                            </a>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <a href="single-product.html">[[${testdetail.shoesname}]]</a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-12 " style="height: 40px;">
                                                                        ￥<span>[[${testdetail.price}]]</span>
                                                                    </div>
                                                                    <div class="col-md-12" style="height: 40px;">
                                                                        数量：<span>[[${testdetail.quantity}]]</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span style="line-height: 93px;">卖家尚未发货</span>
                                            <br>
                                            <span th:if="${test.shoesorder.cancel}==1" style="color: red">（已申请退货）</span>
										</td>
									    <td>
											<span style="line-height: 92px;">
											<button type="button" data-toggle="tooltip" th:onclick="'javascript:tixingfahuo('+${test.shoesorder.orderid}+')' " > 提醒发货</button>
											</span>
											<br /><br />
											<!--<button type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' " > 联系卖家</button>-->
										</td>
									</tr>
                                    <tr>
                                        <td id="message" colspan="5">
                                            <span>收货人：[[${test.shoesorder.contactname}]]</span>
                                            <span>电话：[[${test.shoesorder.contactphone}]]</span>
                                            <span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
                                            <br>
                                            <span>备注：[[${test.shoesorder.remark}]]</span>
                                        </td>
                                    </tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>
								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="daishou">
						<div class="wishlist-heading">
							<h2>待收货</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>商品</th>
										<th>实付金额</th>
										<th>订单号</th>
										<th>交易状态</th>
										<th>交易操作</th>
									</tr>
									</thead>
									<tbody th:each="test : ${imformation.order.alreadysend}">
									<tr>
										<td style="width: 45%;">
                                            <div class="container-fluid">
                                                <div th:each="testdetail : ${test.orderDetail}">
                                                    <div class=" row" >
                                                        <div class="col-md-3">
                                                            <a href="#" class="text-center">
                                                                <img th:src="${testdetail.colorpicaddredd}" >
                                                            </a>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <a href="single-product.html">[[${testdetail.shoesname}]]</a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-12 " style="height: 40px;">
                                                                        ￥<span>[[${testdetail.price}]]</span>
                                                                    </div>
                                                                    <div class="col-md-12" style="height: 40px;">
                                                                        数量：<span>[[${testdetail.quantity}]]</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span style="line-height: 93px;">宝贝在运输途中</span>
                                            <br>
                                            <span th:if="${test.shoesorder.cancel}==1" style="color: red">（已申请退货）</span>
										</td>
										<td>
											<span style="line-height: 92px;">
											<button type="button" data-toggle="tooltip" th:onclick="'javascript:shenqingtuihuo('+${test.shoesorder.orderid}+',1,0,3 )' " > 确认收货</button>
											</span>
											<br /><br />
											<!--<button type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' " > 联系卖家</button>-->
										</td>
									</tr>
                                    <tr>
                                        <td id="message" colspan="5">
                                            <span>收货人：[[${test.shoesorder.contactname}]]</span>
                                            <span>电话：[[${test.shoesorder.contactphone}]]</span>
                                            <span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
                                            <br>
                                            <span>备注：[[${test.shoesorder.remark}]]</span>
                                        </td>
                                    </tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>
								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tuikuan">
						<div class="wishlist-heading">
							<h2>退款/售后</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>商品</th>
										<th>实付金额</th>
										<th>订单号</th>
										<th>交易状态</th>
										<th>交易操作</th>
									</tr>
									</thead>
									<tbody th:each="test : ${imformation.order.readypayback}">
									<tr>
										<td style="width: 45%;">
                                            <div class="container-fluid">
                                                <div th:each="testdetail : ${test.orderDetail}">
                                                    <div class=" row" >
                                                        <div class="col-md-3">
                                                            <a href="#" class="text-center">
                                                                <img th:src="${testdetail.colorpicaddredd}" >
                                                            </a>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <a href="single-product.html">[[${testdetail.shoesname}]]</a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-12 " style="height: 40px;">
                                                                        ￥<span>[[${testdetail.price}]]</span>
                                                                    </div>
                                                                    <div class="col-md-12" style="height: 40px;">
                                                                        数量：<span>[[${testdetail.quantity}]]</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span style="line-height: 40px;">宝贝已签收</span>
											<br>
											<p style="margin:0 auto;">快递客服电话：</p>
											<a href="#">13724688462</a>
                                            <br>
                                            <span th:if="${test.shoesorder.cancel}==1" style="color: red">（已申请退货）</span>
										</td>
										<td>
											<span style="line-height: 45px;">
											<button type="button" data-toggle="tooltip"  th:onclick="'javascript:shenqingtuihuo('+${test.shoesorder.orderid}+',1,0,3 )' "> 取消退货</button>
											</span>
											<br /><br />
											<button type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' " > 联系卖家</button>

										</td>
									</tr>
                                    <tr>
                                        <td id="message" colspan="5">
                                            <span>收货人：[[${test.shoesorder.contactname}]]</span>
                                            <span>电话：[[${test.shoesorder.contactphone}]]</span>
                                            <span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
                                            <br>
                                            <span>备注：[[${test.shoesorder.remark}]]</span>
                                        </td>
                                    </tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>

									<tbody th:each="test : ${imformation.order.alreadyback}">
									<tr>
										<td style="width: 45%;">
											<div class="container-fluid">
												<div th:each="testdetail : ${test.orderDetail}">
													<div class=" row" >
														<div class="col-md-3">
															<a href="#" class="text-center">
																<img th:src="${testdetail.colorpicaddredd}" >
															</a>
														</div>
														<div class="col-md-5">
															<a href="single-product.html">[[${testdetail.shoesname}]]</a>
														</div>
														<div class="col-md-4">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-md-12 " style="height: 40px;">
																		￥<span>[[${testdetail.price}]]</span>
																	</div>
																	<div class="col-md-12" style="height: 40px;">
																		数量：<span>[[${testdetail.quantity}]]</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr />
												</div>
											</div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span th:if="${test.shoesorder.cancel}==1" style="color: red;line-height: 93px;">退货成功</span>
										</td>
										<td>
											<span style="line-height: 93px;" >
											</span>
											<button  type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' " > 联系卖家</button>

										</td>
									</tr>
									<tr>
										<td id="message" colspan="5">
											<span>收货人：[[${test.shoesorder.contactname}]]</span>
											<span>电话：[[${test.shoesorder.contactphone}]]</span>
											<span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
											<br>
											<span>备注：[[${test.shoesorder.remark}]]</span>
										</td>
									</tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>

								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="yishou">
						<div class="wishlist-heading">
							<h2>已收货</h2>
						</div>
						<div class="wishlist-content">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
									<tr>
										<th>商品</th>
										<th>实付金额</th>
										<th>订单号</th>
										<th>交易状态</th>
										<th>交易操作</th>
									</tr>
									</thead>
									<tbody th:each="test : ${imformation.order.alreadyget}">
									<tr>
										<td style="width: 45%;">
											<div class="container-fluid">
												<div th:each="testdetail : ${test.orderDetail}">
													<div class=" row" >
														<div class="col-md-3">
															<a href="#" class="text-center">
																<img th:src="${testdetail.colorpicaddredd}" >
															</a>
														</div>
														<div class="col-md-5">
															<a href="single-product.html">[[${testdetail.shoesname}]]</a>
														</div>
														<div class="col-md-4">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-md-12 " style="height: 40px;">
																		￥<span>[[${testdetail.price}]]</span>
																	</div>
																	<div class="col-md-12" style="height: 40px;">
																		数量：<span>[[${testdetail.quantity}]]</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr />
												</div>
											</div>
										</td>
										<td class="unit-price">￥<span>[[${test.shoesorder.totalprice}]]</span></td>
										<td style="width: 13%;">
											<span style="line-height: 93px;">[[${test.shoesorder.orderid}]]</span>
										</td>
										<td >
											<span style="line-height: 40px;">宝贝已签收</span>
											<br>
											<br>
											<p style="margin:0 auto;">快递客服电话：</p>
											<a href="#">13724688462</a>
											<br>
											<span th:if="${test.shoesorder.cancel}==1" style="color: red">（已申请退货）</span>
										</td>
										<td>
											<span style="line-height: 45px;">
											<button type="button" data-toggle="tooltip"  th:onclick="'javascript:shenqingtuihuo('+${test.shoesorder.orderid}+',1,1,1 )' "> 申请退货</button>
											</span>
											<br /><br />
											<button type="button" data-toggle="tooltip" th:onclick="'javascript:lianximaijia('+${test.shoesorder.orderid}+')' " > 联系卖家</button>

										</td>
									</tr>
									<tr>
										<td id="message" colspan="5">
											<span>收货人：[[${test.shoesorder.contactname}]]</span>
											<span>电话：[[${test.shoesorder.contactphone}]]</span>
											<span>收货地址：[[${test.shoesorder.receiptaddress}]]</span>
											<br>
											<span>备注：[[${test.shoesorder.remark}]]</span>
										</td>
									</tr>
									<tr style="border: none;height: 30px;"></tr>
									</tbody>

								</table>
							</div>
							<!--<button type="submit" value="Continue" class="check-button">一键付款</button>-->
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="gaimima">
						<form action="#">
							<div class="list-style">
								<div class="form-name">
									<label>原密码  </label>
									<input class="inputc1 password1" type="text" name="password" placeholder="请输入原密码">
									<br />
								</div>
								<div class="form-name" style="padding-left: 100px;padding-top: 15px;color: red;">
									<p id="mima" class="mima"></p>
								</div>
								<div class="form-name">
									<label>新密码  </label>
									<input class="inputc2 password2" type="text" name="newpassword" placeholder="请输入你的密码">
								</div>
								<div class="form-name">
									<p id="xinmima" class="xinmima"></p>
								</div>
								<div class="form-name">
									<label>再次输入密码  </label>
									<input class="inputc3 password3" type="text" name="renewpassword" placeholder="请再次输入你的密码" disabled="disabled">
								</div>
								<div class="form-name" style="color: red;margin-left: 10em;">
									<p id="xinmimaa" class="xinmimaa"></p>
								</div>
							</div>
							<div class="save-button">
								<a><button type="button" class="xiugaimima">确认修改</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a><button>忘记密码</button></a>
							</div>
                        </form>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
</div>


<!--尾部-->
<div id="the_footer"></div>

<script src="../static-front/js/jquery-1.12.1.min.js"></script>
<script src="../static-front/js/bootstrap.min.js" ></script>
<script src="../static-front/js/wow.min.js" ></script>
<script src="../static-front/js/jquery-price-slider.js" ></script>
<script src="../static-front/js/jquery.nivo.slider.js" ></script>
<script src="../static-front/js/home.js" ></script>
<script src="../static-front/js/jquery.meanmenu.js" ></script>
<script src="../static-front/js/owl.carousel.min.js" ></script>
<script src="../static-front/js/jquery.elevatezoom.js" ></script>
<script src="../static-front/js/jquery.scrollUp.min.js" ></script>
<script src="../static-front/js/plugins.js" ></script>
<script src="../static-front/js/main.js" ></script>
<script src="../static-front/js/vue.js"></script>
<script src="../static-front/header/header-nav.js"></script>
<script src="../static-front/header/header-user.js"></script>
<script src="../static-front/footer/shoes-footer.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script>
    $(document).ready(function() {
        $("li.aaaaa").click(function() {
            if($("li.bbbbb").hasClass("active")) {
                $("li.bbbbb").removeClass("active");
            }
        });
    });
    $(document).ready(function() {
        $("li.bbbbb").click(function() {
            if($("li.aaaaa").hasClass("active")) {
                $("li.aaaaa").removeClass("active");
            }
        });
    });
    $(document).ready(function() {
        $("li.bbbb1").click(function() {
            $("ul.aaaaa").show();
        });
    });
    $(document).ready(function() {
        $("li.bbbbb").click(function() {
            $("ul.aaaaa").hide();
        });
    });
    $(function() {
        $("input.inputc1").blur(function() {
            $("input").removeAttr("disabled");
        });
    });
    $(function() {
        $(".xiugaimima").click(function() {
            if ($(".password2").val()==$(".password3").val())
            {
                $("#xinmimaa").html(" ");
                var inputPass = $(".password1").val();
                var passworda = hex_md5(inputPass);
                var inputPassb = $(".password2").val();
                var passwordb = hex_md5(inputPassb);
                $.ajax({
                    url:"/UserInformation/UpdatePassword",
                    dataType:"json",
                    type:"post",
                    data:{
                        password:passworda,
                        setpassword:passwordb
                    },
                    success:function(result){
                        if (result.code==0){
                            $("#xinmimaa").html(result.msg);
                        }
                        else {
                            $("#xinmimaa").html(result.msg);
                        }
                    }
                });
            }
            else {
                $("#xinmimaa").html("两次密码不一致！");
            }
        });
    });
    //			$(document).ready(function(){
    //              $(".bbbb2").click(function(){
    //                 $('#shoucang').load('index.html');
    //              });
    //         });
    (function() {
        var pHtmlStr = '';
        for(var name in pc) {
            pHtmlStr = pHtmlStr + '<option value=\"' + name + '\">' + name + '</option>';
        }
        $("#province").html(pHtmlStr);
        $("#province").change(function() {
            var pname = $("#province option:selected").text();
            var pHtmlStr = '';
            var cityList = pc[pname];
            for(var index in cityList) {
                pHtmlStr = pHtmlStr + '<option value=\"' + cityList[index] + '\">' + cityList[index] + '</option>';
            }
            $("#city").html(pHtmlStr);
        });
        $("#province").change();
    })();
</script>
<script>
    $(function () {
        // $(".chaxunxinxi").click(function () {
        //     $.post({url:"/UserInformation/UpdateInformation",
        //         dataType:'json',
        //         type: 'post',
        //         success:function(result){
        //             $(".showaddress").html("<span style='color: skyblue;'>"+result.data+"</span>");
        //             $(".showphone").html("<span style='color: skyblue;'>13450438238</span>");
        //             $(".showusername").html("<span style='color: skyblue;'>顺天</span>");
        //         },
        //         fail: function (err) {
        //             alert("出错！");
        //             console.log(err);
        //         }
        //     });
        // });

    });

    function lianximaijia(a){
        alert("卖家电话：17724436332");
    }
    function shenqingtuihuo(orderid,validity,cancel,state){
        // alert("已申请订单号为："+a+"的订单退货");
		console.log(validity);
        $.post({
            url:"../UserInformation/sendOrBackAjax2",
            type:'post',
            dataType:'json',
            //传入list所需条件 traditional
            // traditional:true,
            data:{"orderid":orderid,"validity":validity,"cancel":cancel,"state":state},
            //传入成功后 获取库存并且返回
            success:function(data) {
                // alert("操作成功");
                window.location.reload();
            },
            fail: function(err){
                console.log(err)
            }
        });
        // $.ajax({
        //     url:"/orderm/sendOrBackAjax",
        //     dataType:"json",
        //     type:"post",
        //     data:{
        //         orderid:a
        //     },
        //     success:function(result){
        //         alert(result);
		//
        //         // else {
        //         //     $("#xinmimaa").html(result.msg);
        //         // }
        //     }
        // });
    }
    function tixingfahuo(a){
        alert("已提醒订单号为："+a+"的卖家发货");
    }
    function lijifukuan(str) {
        window.location.href="/static-front/html/shoes-trace.htm?orderId="+str;
    }
</script>



</head>
</body>

</html>