<!--尾部信息-->
<div class="footer-top-area" style="margin-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="footer-contact">
                    <img src="../static-front/img/logo_4.png" alt="">
                    <p align="center">101Shoes，买到就是赚到</p>
                    <ul class="address">

                        <li>
                            <span class="fa fa-phone"></span> (000) 12580
                        </li>
                        <li>
                            <span class="fa fa-envelope-o"></span> 1048900106@qq.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="footer-tweets">
                    <div class="footer-title">
                        <h3>我们的话</h3>
                    </div>
                    <div class="twitter-feed">
                        <div class="twitter-article">
                            <div class="twitter-img">
                                <a href="#">
                                    <img src="../static-front/img/twitter-1.png" alt="">
                                </a>
                            </div>
                            <div class="twitter-text">
                                <p>101shoes</p>
                                <a href="#">http://www.101shoes.com</a>
                            </div>
                        </div>
                        <div class="twitter-article">
                            <div class="twitter-img">
                                <a href="#">
                                    <img src="../static-front/img/twitter-1.png" alt="">
                                </a>
                            </div>
                            <div class="twitter-text">
                                <p>101shoes</p>
                                <a href="#">http://www.101shoes.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-support">
                    <div class="footer-title">
                        <h3>我们的支持</h3>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="#">您的账户</a>
                            </li>
                            <li>
                                <a href="#">隐私政策</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-info">
                    <div class="footer-title">
                        <h3>我们的信息</h3>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="">关于我们</a>
                            </li>
                            <li>
                                <a href="#">客户服务</a>
                            </li>
                            <li>
                                <a href="#">隐私政策</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--版权信息-->
    <div class="container">
        <div class="row">
            <div class="footer-copyright" align="center">
                <p>Copyright &copy; 2018
                    <a href="#"> 山寨平台</a>
                </p>
            </div>
        </div>
    </div>
    <!--返回顶层-->
    <a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>