<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>101 Shoes|商品秒杀</title>
    <link rel="shortcut icon" href="../static-front/img/101_favicon.ico" type="image/x-icon"/>
    <!--商品名称-->
    <link rel="stylesheet" type="text/css" href="../static-front/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/myrest.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/shoes-info.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/shoes-detail.css"/>
    <link rel="stylesheet" type="text/css" href="../static-front/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static-front/font/font-awesome.min.css">

</head>

<body>
<!--头部信息-->
<div id="the_header"></div>

<div class="container" id="detail">
    <!-- 商品基本信息显示选择-->
    <div class="row lg-border-padding">
        <!-- 商品图片展示栏
            注意加载该页面是默认是第一张图片
        -->
        <div class="col-md-6">
            <div class="b-shoes-show">
                <!--<img id="detail-shoes-bimg" :src="bigpic" class="img-responsive img-thumbnail detail-big-img"/>-->
                <!--"../static-front/images/big-img/xie1.webp"-->
            </div>
            <div class="m-shoes-li center-block">
                <ul id="detail-shoes-simg" class="center-block">
                    <li>
                        <!--v-for="item in rushpic"-->
                        <!--"../static-front/images/sma-img/xie1.webp"-->
                        <img :src="rushpic[0]"
                             class="img-responsive img-thumbnail img-disabled img-active"
                             @click="activeChange('detail-shoes-simg',this,'img-active')"/>
                    </li>
                    <!--<li>-->
                        <!--<img src="../static-front/images/sma-img/xie2.webp"-->
                             <!--class="img-responsive img-thumbnail img-disabled"-->
                             <!--onclick="$_activeChange('detail-shoes-simg',this,'img-active')"/>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="../static-front/images/sma-img/xie3.webp"-->
                             <!--class="img-responsive img-thumbnail img-disabled"-->
                             <!--onclick="$_activeChange('detail-shoes-simg',this,'img-active')"/>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="../static-front/images/sma-img/xie4.webp"-->
                             <!--class="img-responsive img-thumbnail img-disabled"-->
                             <!--onclick="$_activeChange('detail-shoes-simg',this,'img-active')"/>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="../static-front/images/sma-img/xie5.webp" class="img-responsive img-thumbnail img-disabled"-->
                             <!--onclick="$_activeChange('detail-shoes-simg',this,'img-active')"/>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!-- 商品基本信息展示栏 -->
        <div class="col-md-6">
            <ul>
                <li class="detail-li" style="display: none">
                    <!--<span id="shoes-id">4546548971477</span>-->
                </li>
                <li class="detail-li">
                    <p class="h3" id="shoes-name">{{rushinfo.shoesname}}</p>
                </li>
                <li class="detail-li">
                    <span class="h5">秒价：</span>
                    <span style="color: red;" class="h2"> ¥ <span id="ticket-price">{{rushinfo.rbprice}}</span></span>
                    <!--&nbsp;&nbsp;<span style="color: red; text-decoration: line-through;" class="h5"> ¥ 589.00</span>-->
                </li>
                <li class="detail-li">
                    <span class="h5">总共放出：</span>
                    <span style="color: red;" class="h2"> <span id="shoes-rbamount">{{rushinfo.rbamount}}</span></span>
                    <!--&nbsp;&nbsp;<span style="color: red; text-decoration: line-through;" class="h5"> ¥ 589.00</span>-->
                </li>
                <li class="detail-li">
                    <span class="h5">你选的配色与尺寸还剩下：</span>
                    <span style="color: red;" class="h2"> <span id="shoes-activeqty">{{activeqty}}</span></span>
                    <!--&nbsp;&nbsp;<span style="color: red; text-decoration: line-through;" class="h5"> ¥ 589.00</span>-->
                </li>
                <li class="detail-li">
                    <span class="h5">你他妈还剩下</span>
                    <span style="color: red;" class="h2"> <span id="time">{{day}}天{{hr}}时{{min}}分{{sec}}秒</span></span>
                    <!--detail.day = day;-->
                    <!--detail.hr = hr;-->
                    <!--detail.min = min;-->
                    <!--detail.sec = sec;-->
                    <!--&nbsp;&nbsp;<span style="color: red; text-decoration: line-through;" class="h5"> ¥ 589.00</span>-->
                </li>
                <!--{{ `${day}天 ${hr}小时 ${min}分钟 ${sec}分钟` }}-->
                <li class="detail-li">
                    <p class="description-padding dashed-top-border">
<!--放个倒计时-->
                    </p>
                </li>

                <!-- 尺码选择 -->
                <li id="detail-shoes-size" class="detail-li lg-border-padding">

                    <p class="dashed-bottom-border p-padding ">配色及尺寸：</p>
                    <dl class="dl-padding">
                        <dd class="fl dd-margin number-disabled"  v-for="item in rushlist"
                            onclick="$_activeChange('detail-shoes-size',this,'number-active')" @click="pick(item.rushquantity,item.color,item.size,item.skuid,
                            rushinfo.shoesname,rushinfo.rbprice,item.shoesid)">
                            <input type="hidden" id="shoes-skuid" v-model="item.skuid">
                            <span class="go-fuck-your-self" v-model="color">{{item.color}}</span>
                            <span class="go-fuck-your-self1" v-model="size">{{item.size}}</span>

                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                    <!-- 清除浮动，不要管-->
                </li>
                <!--<li class="detail-li">
                    <div id="" style="width: 30px; height: 30px;">

                    </div>
                </li>-->
                <li class="detail-li" style="height: 40px; line-height: 40px;margin-top: 30px;">
                    <!--数量改变-->
                    <span>
                                <ul class="fl count-choose" style="width: 50px;height: 40px;">
                                    <li id="detail-shoes-count" class="fl count-show"
                                        style="height: 40px; width: 30px;line-height: 40px;">
                                        1
                                    </li>
                                    <li class="change-count" style="width: 20px; height: 20px; line-height: 20px;"
                                        @click="doShoesCount(1, 'detail-shoes-count','detail-shoes-total')">
                                        <a href="javascript:;" class="change-count-a">∧</a>
                                    </li>
                                    <li class="change-count" style="width: 20px; height: 20px; line-height: 20px; "
                                    @click="doShoesCount(-1, 'detail-shoes-count','detail-shoes-total')">
                                        <a href="javascript:;" class="change-count-a">∨</a>
                                    </li>
                                </ul>
                            </span>
                    <!--立即购买  -->
                    <span id=" ">
                        <a href="javascript:" class="btn-danger btn-buy" @click="doPay()">立即购买</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <!--商品详细信息展示-->
    <div class="row lg-border-padding">
        <ul class="row shoes-detail-ul">
            <li class="active-detail-li">商品详情</li>
            <!--清除浮动，不要管 -->
            <div class="clearfix"></div>
        </ul>
        <div class="center-block" style="padding: 20px;">
            <p data-spm-anchor-id="a220o.1000855.0.i6.692a10aapT0sdh" v-for="item in rushpic">
                <img :src="item"
                     align="absmiddle" class="img-responsive center-block">
                <!--<img src="https://img.alicdn.com/imgextra/i4/2986712394/TB2WnTxIh9YBuNjy0FfXXXIsVXa_!!2986712394.jpg"-->
                     <!--align="absmiddle" class="img-responsive center-block">-->
            </p>

        </div>
    </div>
</div>
<!--尾部信息-->
<div class="footer-top-area" style="margin-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="footer-contact">
                    <img src="../static-front/img/logo_4.png" alt="">
                    <p align="center">101Shoes，买到就是赚到</p>
                    <ul class="address">

                        <li>
                            <span class="fa fa-phone"></span> (000) 12580
                        </li>
                        <li>
                            <span class="fa fa-envelope-o"></span> 1048900106@qq.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="footer-tweets">
                    <div class="footer-title">
                        <h3>我们的话</h3>
                    </div>
                    <div class="twitter-feed">
                        <div class="twitter-article">
                            <div class="twitter-img">
                                <a href="#">
                                    <img src="../static-front/img/twitter-1.png" alt="">
                                </a>
                            </div>
                            <div class="twitter-text">
                                <p>101shoes</p>
                                <a href="#">http://www.101shoes.com</a>
                            </div>
                        </div>
                        <div class="twitter-article">
                            <div class="twitter-img">
                                <a href="#">
                                    <img src="../static-front/img/twitter-1.png" alt="">
                                </a>
                            </div>
                            <div class="twitter-text">
                                <p>101shoes</p>
                                <a href="#">http://www.101shoes.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-support">
                    <div class="footer-title">
                        <h3>我们的支持</h3>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="#">您的账户</a>
                            </li>
                            <li>
                                <a href="#">隐私政策</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-info">
                    <div class="footer-title">
                        <h3>我们的信息</h3>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="">关于我们</a>
                            </li>
                            <li>
                                <a href="#">客户服务</a>
                            </li>
                            <li>
                                <a href="#">隐私政策</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--版权信息-->
<div class="container">
    <div class="row">
        <div class="footer-copyright" align="center">
            <p>Copyright &copy; 2018
                <a href="#"> 山寨平台</a>
            </p>
        </div>
    </div>
</div>
<!--返回顶层-->
<a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>

<script src="../static-front/js/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static-front/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static-front/js/layer.js"></script>
<script src="../static-front/js/common.js"></script>
<script src="../static-front/js/js.cookie.js"></script>
<script src="../static-front/js/shoes-detail.js"></script>
<script src="../static-front/js/shoes-pay.js"></script>
<script src="../js/vue.js"></script>
<!--尾部-->
<div id="the_footer"></div>

<!--载入头尾部-->
<script>



    $(document).ready(function(){
        var rlist = "[[${detail}]]";
        rlist = rlist.replace(/&quot;/g,"\"");
        console.log(rlist);
        console.log(rlist);
        console.log(JSON.parse(rlist).rushinfo);
        console.log(JSON.parse(rlist).rushlist);
        $("#the_header").load("shoes-header.html");
        $("#the_footer").load("shoes-footer.html");
        detail.rushinfo = JSON.parse(rlist).rushinfo;
        detail.rushlist = JSON.parse(rlist).rushlist;
        detail.rushpic = JSON.parse(rlist).rushpic;
        detail.bigpic = JSON.parse(rlist).bigpic;
        countdown();
        // nowvue.doing = JSON.parse(rlist).doing;
        // nowvue.before = JSON.parse(rlist).before;
        // console.log(nowvue.doing);
    })

    function countdown (){
        // 目标日期时间戳
        const end = Date.parse(new Date(detail.rushinfo.endtime));
        // 当前时间戳
        const now = Date.parse(new Date())
        // 相差的毫秒数
        const msec = end - now
        // 计算时分秒数
        let day = parseInt(msec / 1000 / 60 / 60 / 24)
        let hr = parseInt(msec / 1000 / 60 / 60 % 24)
        let min = parseInt(msec / 1000 / 60 % 60)
        let sec = parseInt(msec / 1000 % 60)
        detail.day = day;
        detail.hr = hr;
        detail.min = min;
        detail.sec = sec;
        // 个位数前补零
        hr = hr > 9 ? hr : '0' + hr
        min = min > 9 ? min : '0' + min
        sec = sec > 9 ? sec : '0' + sec
        // 控制台打印
        // console.log(`${day}天 ${hr}小时 ${min}分钟 ${sec}秒`)
        // 一秒后递归
        setTimeout(function () {
            countdown()
        }, 1000)
    }
</script>

<!--&lt;!&ndash;Vue&ndash;&gt;-->
<script>
    var detail = new Vue({
        el:'#detail',
        data:{
            rushinfo:[],
            rushlist:[],
            rushpic:[],
            activeqty:0,
            bigpic:"",
            day:"",
            hr:"",
            min:"",
            sec:"",
            size:"",
            color:"",
            skuid:0,
            shoesname:""
        },
        // @click="pick(item.rushquantity,item.color,item.size,item.skuid,
        // rushinfo.shoesname,rushinfo.rbprice,item.shoesid)">
        methods:{
            pick:function(rushquantity,color,size,skuid,shoesname){
                this.activeqty = rushquantity;
                this.size = size;
                this.color = color;
                this.skuid = skuid;
                this.shoesname = shoesname;
                // console.log(size,color,skuid,shoesname,this.rushpic[0]);
            },
            doShoesCount:function(isDecrease, target, stock){
                let $target = $($_Id(target));
                let count = Number($target.html()); //当前选择数量
                // is 0 can't decrease
                if(count === 1 && isDecrease === -1){
                    return;
                }
                if(count >= this.activeqty)
                {
                    count = this.activeqty;
                    return;
                }
                count += isDecrease;
                $target.html(count);
            },
            doPay:function(){
                // console.log(this.size,this.color,this.skuid,this.shoesname,this.rushinfo.rushbuyid,"zzz "+this.rushpic[0]);
                doPayNow2(2,this.activeqty,this.color,this.size,this.skuid,this.shoesname,this.rushinfo.rbprice,this.rushinfo.shoesid
                    ,this.rushpic[0],this.rushinfo.rushbuyid);
            }
        }
    })
</script>

<!--function activeChange(oParent,oTarget, className) {-->
<!--let target = $(oTarget);-->

<!--if(target.hasClass(className)){-->
<!--return;-->
<!--}-->
<!--// init status first-->
<!--$_initActive(oParent,className,target);-->

<!--target.addClass(className);-->


<!--// 大图的处理表示要处理大图-->
<!--if(oParent === 'detail-shoes-simg'){-->
<!--let imgUrl = target.attr('src');-->
<!--imgUrl = imgUrl.replace('/sma-img','/big-img');-->

<!--BigShoesImgChange(imgUrl);-->
<!--}-->

<!--// 地址选中-->
<!--if(className == "addr-seleted"){-->
<!--target.children("span").children(".img-radio").attr("src","../img/radio-checked.png");-->
<!--renderOrderCart();-->
<!--}-->


<!--// 是颜色或者尺码才获取库存-->
<!--if(className == "number-active" || className == "choose-border"){-->

<!--//  alert("点击了尺码或者颜色！");-->
<!--// 获取库存-->
<!--let colorId = $($_Class("detail-shoes-color","choose-border")[0]).attr("name");-->
<!--let sizeId = $($_Class("detail-shoes-size","number-active")[0]).attr("name");-->
<!--let shoesId =  $($_Id("shoes-id")).html();-->

<!--let stock = getShoesStock(shoesId,colorId,sizeId);-->
<!--let shoesCount= $.trim($($_Id("detail-shoes-count")).html());-->

<!--if(stock <= 0){-->
<!--$("#detail-shoes-total").html("<font style='color: red;'>已售罄！</font>");-->
<!--$($_Id("detail-shoes-count")).html(0);-->
<!--return;-->
<!--}-->

<!--// 设置库存-->
<!--$("#detail-shoes-total").html(stock);-->

<!--// 如果现在选择数量大于库存，直接为库存数量-->
<!--if(stock < shoesCount){-->
<!--if(stock < 0){-->
<!--$($_Id("detail-shoes-count")).html(0);-->
<!--}else{-->
<!--$($_Id("detail-shoes-count")).html(stock);-->
<!--}-->
<!--}-->
<!--}-->
<!--}-->

<!--原页面样式所需-->
<!--<script>-->
    <!--function $_initActiveCopy(oParent, className,target) {-->

        <!--let $parent = $($_Id(oParent));-->

        <!--// The first must get object with the class name is oClass but inner of the oParent-->
        <!--// is return a array-->
        <!--let aClassObj = $_Class($parent,className);-->

        <!--if(oParent == "order-addr-li"){-->
            <!--$parent.children(".addr-seleted").children("span").children(".img-radio").attr("src","../img/redio-no-checked.png");-->
            <!--console.log("-&ndash;&gt;"+$parent.children(".addr-seleted").children("span").children(".img-radio").attr("src"));-->

        <!--}-->

        <!--// do init-->
        <!--for (let i = 0; i<aClassObj.length; i++){-->

            <!--// be a jquery obj-->
            <!--if($(aClassObj[i]).hasClass(className)){-->
                <!--$(aClassObj[i]).removeClass(className);-->
            <!--}-->
        <!--}-->


    <!--}-->

    <!--function $_activeChangeCopy(oParent,oTarget, className) {-->
        <!--let target = $(oTarget);-->

        <!--if(target.hasClass(className)){-->
            <!--return;-->
        <!--}-->
        <!--// init status first-->
        <!--$_initActiveCopy(oParent,className,target);-->

        <!--target.addClass(className);-->


        <!--// 大图的处理表示要处理大图-->
        <!--if(oParent === 'detail-shoes-simg'){-->
            <!--let imgUrl = target.attr('src');-->
            <!--imgUrl = imgUrl.replace('/sma-img','/big-img');-->

            <!--BigShoesImgChange(imgUrl);-->
        <!--}-->

        <!--// 地址选中-->
        <!--if(className == "addr-seleted"){-->
            <!--target.children("span").children(".img-radio").attr("src","../img/radio-checked.png");-->
            <!--renderOrderCart();-->
        <!--}-->

        <!--// 是颜色或者尺码才获取库存-->
        <!--if(className == "number-active" || className == "choose-border"){-->

            <!--//  alert("点击了尺码或者颜色！");-->
            <!--// 获取库存-->
            <!--let colorId = $($_Class("detail-shoes-color","choose-border")[0]).attr("name");-->
            <!--let sizeId = $($_Class("detail-shoes-size","number-active")[0]).attr("name");-->
            <!--let shoesId =  $($_Id("shoes-id")).html();-->

            <!--// let stock = getShoesStock(shoesId,colorId,sizeId);-->
            <!--let shoesCount= $.trim($($_Id("detail-shoes-count")).html());-->

            <!--// if(stock <= 0){-->
            <!--//     $("#detail-shoes-total").html("<font style='color: red;'>已售罄！</font>");-->
            <!--//     $($_Id("detail-shoes-count")).html(0);-->
            <!--//     return;-->
            <!--// }-->

            <!--// 设置库存-->
            <!--// $("#detail-shoes-total").html(stock);-->

            <!--// 如果现在选择数量大于库存，直接为库存数量-->
            <!--// if(stock < shoesCount){-->
            <!--//     if(stock < 0){-->
            <!--//         $($_Id("detail-shoes-count")).html(0);-->
            <!--//     }else{-->
            <!--//         $($_Id("detail-shoes-count")).html(stock);-->
            <!--//     }-->
            <!--// }-->
        <!--}-->
    <!--}-->


</script>

</body>

</html>