<!doctype html>
<html class="no-js" lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>101 Shoes|商品</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/x-icon" href="../../static/static-front/img/101_favicon.ico">
		<link rel="stylesheet" href="../../static/static-front/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/static-front/font/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/static-front/css/owl.carousel.css">
		<link rel="stylesheet" href="../../static/static-front/css/owl.theme.css">
		<link rel="stylesheet" href="../../static/static-front/css/owl.transitions.css">
		<link rel="stylesheet" href="../../static/static-front/css/jquery-ui.css">
		<link rel="stylesheet" href="../../static/static-front/css/meanmenu.min.css">
		<link rel="stylesheet" href="../../static/static-front/css/nivo-slider.css">
		<link rel="stylesheet" href="../../static/static-front/css/preview.css">
		<link rel="stylesheet" href="../../static/static-front/css/animate.css">
		<link rel="stylesheet" href="../../static/static-front/css/magic.css">
		<link rel="stylesheet" href="../../static/static-front/css/normalize.css">
		<link rel="stylesheet" href="../../static/static-front/css/main.css">
		<link rel="stylesheet" href="../../static/static-front/css/style.css">
		<link rel="stylesheet" href="../../static/static-front/css/responsive.css">
		
		<script src="../../static/static-front/js/modernizr-2.8.3.min.js"></script>
	</head>

	<body>
		<header>

			<!--用户栏目-->
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-offset-3">
						<div class="call-support">
							<p style="font-size: 15px;">101Shoes 欢迎您，请先
								<a href="#">登陆</a>
							</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="dashboard">
							<div class="account-menu">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-user" style="font-size: 20px;"></i>
										</a>
										<ul>
											<li>
												<a href="my-account.html">我的订单</a>
											</li>
											<li>
												<a href="wishlist.html">我的信息</a>
											</li>
											<li>
												<a href="checkout.html">退出</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="cart-menu">
								<ul>
									<li>
										<a href="#"><i class="fa fa-shopping-cart" style="font-size: 20px;"></i> <span>2</span> </a>
										<div class="cart-info">
											<ul>
												<li>
													<div class="cart-img">
														<img src="../../static/static-front/img/1.png">
													</div>
													<div class="cart-details">
														<a href="shoes-cart.html">商品1</a>
														<p>1 x $174.00</p>
													</div>
													<div class="btn-edit"></div>
													<div class="btn-remove"></div>
												</li>
												<li>
													<div class="cart-img">
														<img src="../../static/static-front/img/2.png" alt="">
													</div>
													<div class="cart-details">
														<a href="shoes-cart.html">商品2</a>
														<p>1 x $777.00</p>
													</div>
													<div class="btn-edit"></div>
													<div class="btn-remove"></div>
												</li>
											</ul>
											<h3>小计: <span> $951.00</span></h3>
											<a href="checkout.html" class="checkout">查看</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--商城导航-->
			<div class="mainmenu-area product-items">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="logo">
								<a href="index.html">
									<img src="../../static/static-front/images/newlogo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-md-9">
							<div class="mainmenu">
								<nav>
									<ul>
										<li>
											<a href="index.html">101Shoes</a>
										</li>
										<li>
											<a href="shop.html">女鞋</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12"><span><a class="subtitle" style="padding-top: 18px;font-size: 15px;" href="#">便利休闲</a></span>
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 5px;">好鞋</a></span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="shop.html">男鞋</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12"><span><a class="subtitle" style="padding-top: 18px;font-size: 15px;" href="#">便利休闲</a></span>
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 5px;">好鞋</a></span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="shop.html">品牌</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12">
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 10px;">耐克</a></span>
															</div>
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 10px;">阿迪达斯</a></span>
															</div>
															
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="mega-jewellery">
											<a href="shoes-sale.html">疯狂抢购</a>
										</li>
										<li class="search">
											<input type="text" class="myinput">
											<button class="mybutton" title="搜索"><i class="fa fa-search myicon"></i></button>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

		</header>

		<!--购物选择和商品展示-->
		<div class="product-main-items">
			<div class="container">

				<!--当前选择-->
				<div class="row">
					<div class="col-md-12">
						<div class="location">
							<ul>
								<li>
									<a href="index.html" title="go to homepage">101 Shoes<span>></span></a>
								</li>
								<li><strong>男鞋</strong><span>></span></li>
								<li><strong>跑步鞋</strong></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">

					<!--购物选择-->
					<div class="product-sidebar">
						<div class="sidebar-title">
							<h2>购物选择</h2>
						</div>

						<div id="thebox" class="col-md-12" style="display:none">
							<!--品牌选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>品牌</h3>
								</div>
								<div class="single-sidebar-content">
									<div class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">耐克</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">李宁</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">富贵鸟</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">乔丹</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>

							<!--风格选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>颜色</h3>
								</div>
								<div class="single-sidebar-content">
									<div class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">红</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">黄</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">绿</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">黑</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">白</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>

							<!--尺码选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>尺码</h3>
								</div>
								<div class="single-sidebar-content">
									<div id="" class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">35以下</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">35</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">36</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">37</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<!--价格选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>价格</h3>
								</div>
								<div class="single-sidebar-content">
									<div class="myrow">
										<input /><span> - </span><input />
										<button type="submit"> <span>确定</span> </button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 expand" align="center">
							<input type="button" id="thebtn" onclick="btn()" value="更多"></input>
						</div>
					</div>
				</div>

				<!--商品展示-->
				<div class="col-sm-12">
					<div class="product-bar">

						<!--排序方式-->
						<div class="sort-by">
							<label>排序方式</label>
							<a href="#" class="shoes-sort">默认<i></i></a>
							<a href="#" class="shoes-sort">销量<i></i></a>
							<a href="#" class="shoes-sort">价格<i></i></a>

							<a href="#" title="Set Descending Direction">
								<img src="i_asc_arrow.gif" alt="">
							</a>
						</div>

						<!--商品数量-->
						<div class="limit-product">

							<label>共找到<span> 250 </span>件商品</label>
						</div>
					</div>
					<div class="row">

						<!--列出商品-->
						<div class="product-content">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active in fade home2" id="gird">
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
                                                    <a href="shoes-detail.html " >
                                                        <img src="../../static/static-front/img/9.png "  alt=" " class="primary-img ">
                                                        <img src="../../static/static-front/img/10.png "  alt=" " class="secondary-img ">
                                                    </a>
                                                </div>
                                                <div class="actions ">
                                                    <button data-target="#productModal " data-toggle="modal " class="cart-btn " >加入购物车 <i class="fa fa-shopping-cart "></i></button>
                                                </div>
                                                <div class="product-name ">
                                                    <a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
                                                </div>
                                                <div class="price-rating ">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 " align="center ">
                                            <div class="single-product " >
                                                <div class="product-img ">
												<a href="shoes-detail.html">
													<img src="../../static/static-front/img/9.png" alt="" class="primary-img">
													<img src="../../static/static-front/img/10.png" alt="" class="secondary-img">
												</a>
											</div>
											<div class="actions">
												<button data-target="#productModal" data-toggle="modal" class="cart-btn">加入购物车 <i class="fa fa-shopping-cart"></i></button>
											</div>
											<div class="product-name">
												<a href="shoes-detail.html" title="Fusce aliquam">Fusce aliquam</a>
											</div>
											<div class="price-rating">
												<span>$170.00</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
                                                    <a href="shoes-detail.html " >
                                                        <img src="../../static/static-front/img/9.png "  alt=" " class="primary-img ">
                                                        <img src="../../static/static-front/img/10.png "  alt=" " class="secondary-img ">
                                                    </a>
                                                </div>
                                                <div class="actions ">
                                                    <button data-target="#productModal " data-toggle="modal " class="cart-btn " >加入购物车 <i class="fa fa-shopping-cart "></i></button>
                                                </div>
                                                <div class="product-name ">
                                                    <a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
                                                </div>
                                                <div class="price-rating ">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 " align="center ">
                                            <div class="single-product " >
                                                <div class="product-img ">
												<a href="shoes-detail.html">
													<img src="../../static/static-front/img/9.png" alt="" class="primary-img">
													<img src="../../static/static-front/img/10.png" alt="" class="secondary-img">
												</a>
											</div>
											<div class="actions">
												<button data-target="#productModal" data-toggle="modal" class="cart-btn">加入购物车 <i class="fa fa-shopping-cart"></i></button>
											</div>
											<div class="product-name">
												<a href="shoes-detail.html" title="Fusce aliquam">Fusce aliquam</a>
											</div>
											<div class="price-rating">
												<span>$170.00</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
                                                    <a href="shoes-detail.html " >
                                                        <img src="../../static/static-front/img/9.png "  alt=" " class="primary-img ">
                                                        <img src="../../static/static-front/img/10.png "  alt=" " class="secondary-img ">
                                                    </a>
                                                </div>
                                                <div class="actions ">
                                                    <button data-target="#productModal " data-toggle="modal " class="cart-btn " >加入购物车 <i class="fa fa-shopping-cart "></i></button>
                                                </div>
                                                <div class="product-name ">
                                                    <a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
                                                </div>
                                                <div class="price-rating ">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 " align="center ">
                                            <div class="single-product " >
                                                <div class="product-img ">
												<a href="shoes-detail.html">
													<img src="../../static/static-front/img/9.png" alt="" class="primary-img">
													<img src="../../static/static-front/img/10.png" alt="" class="secondary-img">
												</a>
											</div>
											<div class="actions">
												<button data-target="#productModal" data-toggle="modal" class="cart-btn">加入购物车 <i class="fa fa-shopping-cart"></i></button>
											</div>
											<div class="product-name">
												<a href="shoes-detail.html" title="Fusce aliquam">Fusce aliquam</a>
											</div>
											<div class="price-rating">
												<span>$170.00</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
                                                    <a href="shoes-detail.html " >
                                                        <img src="../../static/static-front/img/9.png "  alt=" " class="primary-img ">
                                                        <img src="../../static/static-front/img/10.png "  alt=" " class="secondary-img ">
                                                    </a>
                                                </div>
                                                <div class="actions ">
                                                    <button data-target="#productModal " data-toggle="modal " class="cart-btn " >加入购物车 <i class="fa fa-shopping-cart "></i></button>
                                                </div>
                                                <div class="product-name ">
                                                    <a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
                                                </div>
                                                <div class="price-rating ">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 " align="center ">
                                            <div class="single-product " >
                                                <div class="product-img ">
												<a href="shoes-detail.html">
													<img src="../../static/static-front/img/9.png" alt="" class="primary-img">
													<img src="../../static/static-front/img/10.png" alt="" class="secondary-img">
												</a>
											</div>
											<div class="actions">
												<button data-target="#productModal" data-toggle="modal" class="cart-btn">加入购物车 <i class="fa fa-shopping-cart"></i></button>
											</div>
											<div class="product-name">
												<a href="shoes-detail.html">Fusce aliquam</a>
											</div>
											<div class="price-rating">
												<span>$170.00</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--页码-->
							<div class="col-md-12">
								<div class="toolbar-bottom">
									<ul>
										<li class="current">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#"> <img src="../../static/static-front/img/pager_arrow_right.gif" alt=""> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--尾部信息-->
		<div class="footer-top-area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="footer-contact">
							<img src="../../static/static-front/img/logo_4.png" alt="">
							<p align="center">101Shoes，买到就是赚到</p>
							<ul class="address">

								<li>
									<span class="fa fa-phone"></span> (000) 12580
								</li>
								<li>
									<span class="fa fa-envelope-o"></span> 1048900106@qq.com
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
						<div class="footer-tweets">
							<div class="footer-title">
								<h3>我们的话</h3>
							</div>
							<div class="twitter-feed">
								<div class="twitter-article">
									<div class="twitter-img">
										<a href="#">
											<img src="../../static/static-front/img/twitter-1.png" alt="">
										</a>
									</div>
									<div class="twitter-text">
										<p>101shoes</p>
										<a href="#">http://www.101Shoes.com</a>
									</div>
								</div>
								<div class="twitter-article">
									<div class="twitter-img">
										<a href="#">
											<img src="../../static/static-front/img/twitter-1.png" alt="">
										</a>
									</div>
									<div class="twitter-text">
										<p>101shoes</p>
										<a href="#">http://www.101Shoes.com</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="footer-support">
							<div class="footer-title">
								<h3>我们的支持</h3>
							</div>
							<div class="footer-menu">
								<ul>
									<li>
										<a href="#">您的账户</a>
									</li>
									<li>
										<a href="#">隐私政策</a>
									</li>
									<li>
										<a href="#">联系我们</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="footer-info">
							<div class="footer-title">
								<h3>我们的信息</h3>
							</div>
							<div class="footer-menu">
								<ul>
									<li>
										<a href="">关于我们</a>
									</li>
									<li>
										<a href="#">客户服务</a>
									</li>
									<li>
										<a href="#">隐私政策</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--版权信息-->
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="footer-copyright" align="center">
						<p>Copyright &copy; 2018
							<a href="#"> 山寨平台</a>
						</p>
					</div>
				</div>
			</div>

			<!--返回顶层-->
			<a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>
		</footer>

		<!--添加到购物车-->
		<div id="quickview-wrapper">
			<!-- Modal -->
			<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="modal-product">
								<div class="product-images">
									<div class="main-image images">
										<img alt="" src="../../static/static-front/img/10.png">
									</div>
								</div>

								<div class="product-info">
									<h1>101 好鞋</h1>
									<div class="price-box">
										<p class="price"><span class="special-price"><span class="amount">¥ 132.00</span></span>
										</p>
									</div>
									<a href="shop.html" class="see-all">查看详情</a>

									<div class="quick-desc">

										<p class="see-all">尺码选择：</p>
										<div class="row">
											<dl class="fl col-xs-9 shopping-size">
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
												<dd><span>35</span></dd>
											</dl>
										</div>
									</div>
									<div class="share-post">
										<div class="quick-add-to-cart">
											<form method="post" class="cart">
												<div class="numbers-row">
													<input type="number" id="french-hens" value="3">
												</div>
												<button style="border-color: #A6E1EC;">加入购物车</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../static/static-front/js/jquery-1.12.1.min.js"></script>
		<script src="../../static/static-front/js/bootstrap.min.js"></script>
		<script src="../../static/static-front/js/wow.min.js"></script>
		<script src="../../static/static-front/js/jquery-price-slider.js"></script>
		<script src="../../static/static-front/js/jquery.nivo.slider.js"></script>
		<script src="../../static/static-front/js/jquery.meanmenu.js"></script>
		<script src="../../static/static-front/js/owl.carousel.min.js"></script>
		<script src="../../static/static-front/js/jquery.elevatezoom.js"></script>
		<script src="../../static/static-front/js/jquery.scrollUp.min.js"></script>
		<script src="../../static/static-front/js/main.js"></script>
	</body>

	<script type="text/javascript">
		var btn1 = document.getElementById('thebtn');
		var box1 = document.getElementById('thebox');

		function btn() {

			if(btn1.value == "收起") {
				box1.style.display = 'none';
				btn1.value = "更多";
			} else {
				box1.style.display = 'block';
				btn1.value = "收起";
			}
		}
	</script>

</html>