<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="../../static/static-front/img/101_favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../static/static-front/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../static/static-front/css/normalize.css" />
		<link rel="stylesheet" href="../../static/static-front/font/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/static-front/css/style.css" />
		<link rel="stylesheet" href="../../static/static-front/css/shoes-sale.css" />

		<script type="text/javascript" src="../../static/static-front/js/jquery.min.js"></script>
		<script src="../../static/static-front/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<title>101 Shoes|抢购</title>
	</head>

	<body>

		<header>

			<!--用户栏目-->
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-offset-3">
						<div class="call-support">
							<p id="login-tip" style="font-size: 15px;">101Shoes 欢迎您，
								<!-- 如果没有登录显示这个信息 -->
								<s style="text-decoration: none">请先
									<a id="login-link" href="#">登陆</a>
								</s>
								<!-- 登录成功的话显示这个 -->
								<!--<b>隔壁老王</b>-->
							</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="dashboard">
							<div class="account-menu">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-user" style="font-size: 20px;"></i>
										</a>
										<ul>
											<li>
												<a href="my-account.html">我的订单</a>
											</li>
											<li>
												<a href="wishlist.html">我的信息</a>
											</li>
											<li>
												<a href="checkout.html">退出</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="cart-menu">
								<ul>
									<li>
										<a href="#"><i class="fa fa-shopping-cart" style="font-size: 20px;"></i> <span>2</span> </a>
										<div class="cart-info">
											<ul>
												<li>
													<div class="cart-img">
														<img src="../../static/static-front/img/1.png">
													</div>
													<div class="cart-details">
														<a href="shoes-cart.html">商品1</a>
														<p>1 x $174.00</p>
													</div>
													<div class="btn-edit"></div>
													<div class="btn-remove"></div>
												</li>
												<li>
													<div class="cart-img">
														<img src="../../static/static-front/img/2.png" alt="">
													</div>
													<div class="cart-details">
														<a href="shoes-cart.html">商品2</a>
														<p>1 x $777.00</p>
													</div>
													<div class="btn-edit"></div>
													<div class="btn-remove"></div>
												</li>
											</ul>
											<h3>小计: <span> $951.00</span></h3>
											<a href="checkout.html" class="checkout">查看</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--商城导航-->
			<div class="mainmenu-area product-items">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="logo">
								<a href="index.html">
									<img src="../../static/static-front/images/newlogo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-md-9">
							<div class="mainmenu">
								<nav>
									<ul>
										<li>
											<a href="index.html">101Shoes</a>
										</li>
										<li>
											<a href="shop.html">女鞋</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12"><span><a class="subtitle" style="padding-top: 18px;font-size: 15px;" href="#">便利休闲</a></span>
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 5px;">好鞋</a></span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="shop.html">男鞋</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12"><span><a class="subtitle" style="padding-top: 18px;font-size: 15px;" href="#">便利休闲</a></span>
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 5px;">好鞋</a></span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="shop.html">品牌</a>
											<div class="mega-menu">
												<ul>
													<li class="col-md-12">
														<div class="row">
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 10px;">耐克</a></span>
															</div>
															<div class="col-md-2">
																<span><a href="#" style="padding-top: 10px;">阿迪达斯</a></span>
															</div>
															
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="mega-jewellery">
											<a href="shoes-sale.html">疯狂抢购</a>
										</li>
										<li class="search">
											<input type="text" class="myinput">
											<button class="mybutton" title="搜索"><i class="fa fa-search myicon"></i></button>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

		</header>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src="../../static/static-front/img/sale_01.jpg" alt="" />
				</div>
				<div class="col-md-12">
					<div class="sale-title">
						<p align="center">- 每日准时锁定 101 Shoes 疯狂抢购 -</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="sale-headline">
						<a href="#"><img src="../../static/static-front/img/sale_02.png" /></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 sale-nav">
					<ul id="myTab">
						<li style="background-color: #F33035;">
							<a href="#now" data-toggle="tab">
								<p class="sale-nav-p1">正在抢购</p>
							</a>
						</li>
						<li style="background-color: #E3E4E5;">
							<a href="#future" data-toggle="tab">
								<p class="sale-nav-p2">尚未开始</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!--正在抢购-->
			<div id="myTabContent" class="tab-content">
				<div class="row tab-pane fade in active" id="now">
					<div class="col-xs-6">
						<div class="sale-product" align="center">
							<a href="shoes-sale.html">
								<div class="col-md-6 sale-product-img">
									<img src="../../static/static-front/img/nike_01.png" />
								</div>
								<div class="col-md-6 sale-product-inf">
									<div class="sale-product-logo">
										<img src="../../static/static-front/img/nike_logo.png" />
									</div>
									<div class="sale-product-name" align="center">
										<h5 align="center">Nike耐克<br>男式 Air Pegasus '89气垫</h5>
									</div>
									<div class="sale-product-price">
										<span class="old-price">¥1200.00</span>
										<span><i>¥998.00</i></span>
									</div>
									<div class="sale-product-time" id="a9">
										<span>仅剩</span>
										<span><i>1</i>天</span>
										<span><i>12</i>时</span>
										<span><i>12</i>分</span>
										<span><i>12</i>秒</span>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="sale-product" align="center">
							<a href="shoes-sale.html">
								<div class="col-md-6 sale-product-img">
									<img src="../../static/static-front/img/nike_01.png" />
								</div>
								<div class="col-md-6 sale-product-inf">
									<div class="sale-product-logo">
										<img src="../../static/static-front/img/nike_logo.png" />
									</div>
									<div class="sale-product-name" align="center">
										<h5 align="center">Nike耐克<br>男式 Air Pegasus '89气垫</h5>
									</div>
									<div class="sale-product-price">
										<span class="old-price">¥1200.00</span>
										<span><i>¥998.00</i></span>
									</div>
									<div class="sale-product-time" id="a10">
										<span>仅剩</span>
										<span><i>1</i>天</span>
										<span><i>12</i>时</span>
										<span><i>12</i>分</span>
										<span><i>12</i>秒</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<!--尚未开始-->
				<div class="row tab-pane fade" id="future">
					<div class="col-xs-6">
						<div class="sale-product" align="center">
							<a href="shoes-sale.html">
								<div class="col-md-6 sale-product-img">
									<img src="../../static/static-front/img/1-1.png" />
								</div>
								<div class="col-md-6 sale-product-inf">
									<div class="sale-product-logo">
										<img src="../../static/static-front/img/nike_logo.png" />
									</div>
									<div class="sale-product-name" align="center">
										<h5 align="center">Nike耐克</h5>
										<h5 align="center">男式 Air Pegasus '89气垫</h5>
									</div>
									<div class="sale-product-price">
										<span class="old-price">¥1200.00</span>
										<span><i>¥998.00</i></span>
									</div>
									<div class="sale-product-time" id="a11">
										<span>仅剩</span>
										<span><i>1</i>天</span>
										<span><i>12</i>时</span>
										<span><i>12</i>分</span>
										<span><i>12</i>秒</span>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="sale-product" align="center">
							<a href="shoes-sale.html">
								<div class="col-md-6 sale-product-img">
									<img src="../../static/static-front/img/nike_01.png" />
								</div>
								<div class="col-md-6 sale-product-inf">
									<div class="sale-product-logo">
										<img src="../../static/static-front/img/nike_logo.png" />
									</div>
									<div class="sale-product-name" align="center">
										<h5 align="center">Nike耐克</h5>
										<h5 align="center">男式 Air Pegasus '89气垫</h5>
									</div>
									<div class="sale-product-price">
										<span class="old-price">¥1200.00</span>
										<span><i>¥998.00</i></span>
									</div>
									<div class="sale-product-time" id="a12">
										<span>仅剩</span>
										<span><i>1</i>天</span>
										<span><i>12</i>时</span>
										<span><i>12</i>分</span>
										<span><i>12</i>秒</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--尾部-->
		<div id="the_footer"></div>

			<script src="../../static/static-front/js/wow.min.js"></script>
			<script src="../../static/static-front/js/jquery-price-slider.js"></script>
			<script src="../../static/static-front/js/jquery.meanmenu.js"></script>
			<script src="../../static/static-front/js/owl.carousel.min.js"></script>
			<script src="../../static/static-front/js/jquery.elevatezoom.js"></script>
			<script src="../../static/static-front/js/jquery.scrollUp.min.js"></script>
			<script src="../../static/static-front/js/main.js"></script>

		<!--载入尾部-->
		<script>
            $("#the_footer").load("shoes-footer.html");
		</script>

	</body>

</html>