<!doctype html>
<html class="no-js" lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>101 Shoes|商品</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/x-icon" href="../static-front/img/101_favicon.ico">
		<link rel="stylesheet" href="../static-front/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static-front/font/font-awesome.min.css">
		<link rel="stylesheet" href="../static-front/css/owl.carousel.css">
		<link rel="stylesheet" href="../static-front/css/owl.theme.css">
		<link rel="stylesheet" href="../static-front/css/owl.transitions.css">
		<link rel="stylesheet" href="../static-front/css/jquery-ui.css">
		<link rel="stylesheet" href="../static-front/css/meanmenu.min.css">
		<link rel="stylesheet" href="../static-front/css/nivo-slider.css">
		<link rel="stylesheet" href="../static-front/css/preview.css">
		<link rel="stylesheet" href="../static-front/css/animate.css">
		<link rel="stylesheet" href="../static-front/css/magic.css">
		<link rel="stylesheet" href="../static-front/css/normalize.css">
		<link rel="stylesheet" href="../static-front/css/main.css">
		<link rel="stylesheet" href="../static-front/css/style.css">
		<link rel="stylesheet" href="../static-front/css/responsive.css">
		
		<script src="../static-front/js/modernizr-2.8.3.min.js"></script>
	</head>

	<body>

	<!--头部信息-->
	<div id="the_header"></div>

		<!--购物选择和商品展示-->
		<div class="product-main-items">
			<div class="container">

				<!--当前选择-->
				<div class="row">
					<div class="col-md-12">
						<div class="location">
							<ul>
								<li>
									<a href="index.html" title="go to homepage">101 Shoes<span>></span></a>
								</li>
								<li><strong>男鞋</strong><span>></span></li>
								<li><strong>跑步鞋</strong></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">

					<!--购物选择-->
					<div class="product-sidebar">
						<div class="sidebar-title">
							<h2>购物选择</h2>
						</div>

						<div id="thebox" class="col-md-12" style="display:none">
							<!--品牌选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>品牌</h3>
								</div>
								<div class="single-sidebar-content">
									<div id="a1" class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">耐克</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">李宁</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">富贵鸟</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">乔丹</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>

							<!--风格选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>颜色</h3>
								</div>
								<div class="single-sidebar-content">
									<div id="a2" class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">红</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">黄</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">绿</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">黑</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">白</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>

							<!--尺码选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>尺码</h3>
								</div>
								<div class="single-sidebar-content">
									<div id="" class="row">
										<dl class="fl col-xs-9 shopping-choose">
											<dd><span>全部</span></dd>
											<dd>
												<a href="#" style="padding-right: 50px;">35以下</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">35</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">36</a>
											</dd>
											<dd>
												<a href="#" style="padding-right: 50px;">37</a>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<!--价格选择-->
							<div class="single-sidebar">
								<div class="single-sidebar-title">
									<h3>价格</h3>
								</div>
								<div class="single-sidebar-content">
									<div class="myrow">
										<input /><span> - </span><input />
										<button type="submit"> <span>确定</span> </button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 expand" align="center">
							<input type="button" id="thebtn" onclick="btn()" value="更多"></input>
						</div>
					</div>
				</div>

				<!--商品展示-->
				<div class="col-sm-12">
					<div class="product-bar">

						<!--排序方式-->
						<div class="sort-by">
							<label>排序方式</label>
							<a href="#" class="shoes-sort">默认<i></i></a>
							<a href="#" class="shoes-sort">销量<i></i></a>
							<a href="#" class="shoes-sort">价格<i></i></a>

							<a href="#" title="Set Descending Direction">
								<img src="i_asc_arrow.gif" alt="">
							</a>
						</div>

						<!--商品数量-->
						<div class="limit-product">

							<label>共找到<span> 250 </span>件商品</label>
						</div>
					</div>
					<div class="row">

						<!--列出商品-->
						<div class="product-content">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active in fade home2" id="gird">
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
												<a href="shoes-detail.html " >
													<img src="../static-front/img/9.png "  alt=" " class="primary-img ">
													<img src="../static-front/img/10.png "  alt=" " class="secondary-img ">
												</a>
											</div>
											<div class="product-name ">
												<a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
											</div>
											<div class="price-rating ">
												<span>$170.00</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6" align="center">
										<div class="single-product">
											<div class="product-img">
												<a href="shoes-detail.html " >
													<img src="../static-front/img/9.png "  alt=" " class="primary-img ">
													<img src="../static-front/img/10.png "  alt=" " class="secondary-img ">
												</a>
											</div>
											<div class="product-name ">
												<a href="shoes-detail.html "  title="Fusce aliquam ">Fusce aliquam</a>
											</div>
											<div class="price-rating ">
												<span>$170.00</span>
											</div>
										</div>
									</div>
							    </div>
							</div>

							<!--页码-->
							<div class="col-md-12">
								<div class="toolbar-bottom">
									<ul>
										<li class="current">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#"> <img src="../static-front/img/pager_arrow_right.gif" alt=""> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--尾部-->
		<div id="the_footer"></div>

		<script src="../static-front/js/jquery-1.12.1.min.js"></script>
		<script src="../static-front/js/bootstrap.min.js"></script>
		<script src="../static-front/js/wow.min.js"></script>
		<script src="../static-front/js/jquery-price-slider.js"></script>
		<script src="../static-front/js/jquery.nivo.slider.js"></script>
		<script src="../static-front/js/jquery.meanmenu.js"></script>
		<script src="../static-front/js/owl.carousel.min.js"></script>
		<script src="../static-front/js/jquery.elevatezoom.js"></script>
		<script src="../static-front/js/jquery.scrollUp.min.js"></script>
		<script src="../static-front/js/main.js"></script>

		<script type="text/javascript">
            let btn1 = document.getElementById('thebtn');
            let box1 = document.getElementById('thebox');

            function btn() {

                if(btn1.value == "收起") {
                    box1.style.display = 'none';
                    btn1.value = "更多";
                } else {
                    box1.style.display = 'block';
                    btn1.value = "收起";
                }
            }
		</script>

		<!--载入头尾部-->
		<script>
            $("#the_header").load("shoes-header.html");
            $("#the_footer").load("shoes-footer.html");
		</script>

	</body>



</html>